[2019-07-22 12:36] serbanmarti opened #1 "Error on running"
Hello,

I cannot seem to configure this properly in Goland in order to make it work at all. I only have the executable path configured and nothing else. Once it starts running, it just throws an error:

[code]

Is there anything in particular that I have to do for it? Thanks

[2019-07-23 02:36] xxpxxxxp commented on #1
wow I'm sorry this plugin is still in development, so I've only published it to alpha channel, I guess you search in google that direct you here.
For your situation, I guess you need to set up your Go executable in system PATH. Since you are using GoLand, Go should already in system, but you need to add its bin path in system PATH.
Remember that it's still alpha testing. Some problems I'm still fi

[2019-07-29 08:29] serbanmarti commented on #1
Yes, I found your work through searches and I definitely know and understand this is an alpha version. Just wanted to let you know of the issue I found in hopes that it will help you in your work on it. I am really looking forward to using your plugin 😃

[2019-09-25 13:24] tegk opened #2 "Error"
java.lang.Throwable: Run error:
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:145)
	at com.ypwang.plugin.GoLinterLocalInspection.checkFile(GoLinterLocalInspection.kt:134)
	at com.intellij.codeInspection.LocalInspectionTool$1.visitFile(LocalInspectionTool.java:142)
	at com.intellij.extapi.psi.PsiFileBase.accept(PsiFileBase.java:70)
	at com.intellij.codeInspection.InspectionEngine.acc

[2019-09-26 14:33] xxpxxxxp commented on #2
Thanks tegk. Would you mind paste here some info like:
Intellij version
`go version` output

[2019-10-01 13:29] tegk commented on #2
GoLand 2019.2.2
Build #GO-192.6603.35, built on September 11, 2019
Runtime version: 11.0.3+12-b304.56 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 5.0.0-29-generic

go version go1.13.1 linux/amd64

[2019-10-07 15:27] profgsindel opened #3 "ArrayOutOfBounds"
[code]

[2019-10-08 09:44] xxpxxxxp commented on #3
Thanks @profgsindel , how could I reproduce this bug? Which buttons have you clicked?

[2019-10-08 13:28] profgsindel commented on #3
None - except configure the path the the golintci executable. This occurs on the "out of the box" configuration on my 2019.2.3 IntelliJ on Mac OS.

________________________________
From: xxpxxxxp <notifications@github.com>
Sent: Tuesday, October 8, 2019 5:44 AM
To: xxpxxxxp/intellij-plugin-golangci-lint <intellij-plugin-golangci-lint@noreply.github.com>
Cc: Sindel, Geoffrey <gsindel@maryville.edu>

[2019-10-09 01:58] xxpxxxxp commented on #3
Thanks @profgsindel . Apparently I missed some exception, I'll try on my Mac.

[2019-10-20 14:21] xxpxxxxp commented on #2
Finally resolved this one. It's an API change, could not check virtual file in dispatch thread now.

[2019-10-20 14:21] #2 closed

[2019-10-29 06:48] Ramseyyj commented on #3
the similar problem occurs to me after I installed it and run the "go get ..." botton

[code]

[2019-10-29 06:56] xxpxxxxp commented on #3
@Ramseyyj I'm working on refine the plugin, will fix it ASAP.

[2019-11-29 02:03] wilfred-s commented on #1
Same issue, file watcher sets the environment:
[code]
The `$GoBinDirs$` is set correctly and has the go binary on the path that is set

[2020-01-24 16:33] JDiPierro commented on #1
Same issue. I've tried manually setting `GOROOT` and `GOPATH` in the File Watcher's Environment Variables section and it's still unable to find the `go` bin.

[2020-02-09 16:26] #1 closed

[2020-02-10 15:31] xxpxxxxp commented on #3
Resolved.

[2020-02-10 15:31] #3 closed

[2020-02-13 21:29] paskal opened #4 "[2019.3.3] Doesn't work with golangci-lint executable by symlink"
[This code](https://github.com/paskal/go-prisma/tree/d5c2c52e363ef2b4febb0db8a4026824604fbdf4) at commit `d5c2c52e363ef2b4febb0db8a4026824604fbdf4` shows a [couple of problems](https://github.com/paskal/go-prisma/runs/444622559#step:6:6) by golangci-lint:

[code]

However, after I've installed Go Linter on Intellij Idea, nothing changed for me and I don't see these problems shown as inspections re

[2020-02-13 21:38] paskal commented on #4
When I've opened the path to binary in file browser (by clicking `Open` button on plugin settings page), which is default `/usr/local/bin/golangci-lint`, it added new entry with path to binary by simlink and then started working:
<img width="580" alt="image" src="https://user-images.githubusercontent.com/712534/74480240-d734e500-4eb0-11ea-8d7e-5b940f0b4275.png">

I wonder if it's possible to have

[2020-02-13 21:56] xxpxxxxp commented on #4
Thanks paskal, I'll fix this ASAP.

[2020-02-13 22:49] paskal opened #5 "Exception on the empty file"
With [this .golangci.yml](https://github.com/paskal/go-prisma/blob/master/.golangci.yml) in the project after I create a new file and before I add anything to it, Go Linter throws an exception:

<details><summary>Exception 1</summary>

[code]

</details>
<details><summary>Exception 2</summary>

[code]
</details>

[2020-02-13 23:01] paskal opened #6 "Incorrect configuration throws an exception"
When I made a mistake in project `.golangci.yml` file, Go Linter suggested that configuration is wrong with a Configure button, which opens plugin configuration options:

<img width="403" alt="image" src="https://user-images.githubusercontent.com/712534/74486123-8925de80-4ebc-11ea-8a8e-be6c14370af2.png">

This wouldn't help as I'm editing the file. Also, plugin throws an exception: for three cases

[2020-02-13 23:09] paskal commented on #6
Hmm, I'm not sure if the configuration is really wrong anymore. On every file save I see the following:

<img width="370" alt="image" src="https://user-images.githubusercontent.com/712534/74486804-26354700-4ebe-11ea-83c7-28c84c1c349a.png">

Also, I see exceptions which are the same as above.

[2020-02-13 23:11] paskal commented on #5
Same for unfinished function:

[code]

[2020-02-14 03:15] xxpxxxxp commented on #6
Thanks paskal. This could be the same with #5 , linter failed to run because of some reason. The error might be annoying, I'll remove that.

[2020-02-14 04:52] #5 closed

[2020-02-14 04:52] #4 closed

[2020-02-14 05:19] #6 closed

[2020-02-14 11:11] paskal commented on #5
Thanks for fixes! New exception:
[code]

Also, I still get a bunch of windows with an error every time I save the incorrect files.

<img width="370" alt="image" src="https://user-images.githubusercontent.com/712534/74526178-1d2a9100-4f23-11ea-8ac6-c3f8b088ac0b.png">

[2020-02-15 06:30] xxpxxxxp commented on #5
Seems the linter gives empty response, I'll catch that. Also I'll set a frequency cap For the error window. Thanks a lot!

[2020-02-27 04:12] helmus opened #7 "not working with goland 2019.3.2 and go 1.13.6 (homebrew)"
After installing `golangci-lint` with homebrew and configuring it in goland, I get this error

[code]
Using go 1.13.6, also installed with homebrew
GoLand version ( installed with jetbrains toolbox )
[code]

[2020-02-27 04:15] xxpxxxxp commented on #7
Thank you @helmus ! I will fix that ASAP.

[2020-02-27 06:30] helmus commented on #7
@xxpxxxxp after installing go with official installed, and installing golangci-lint to gopath, this is still not working.

[2020-02-27 15:51] xxpxxxxp commented on #7
@helmus Sorry I can't repro the issue, I need your help, would you please paste result of:
go executable path: `which go`
GoLand's path env: `ps eww -o command <GoLand PID> | tr ' ' '\n' | grep '^PATH='`

[2020-02-27 21:44] rumstead commented on #7
Getting the same issue here but with Intellij.
[code]
Go and golangci-lint from homebrew. Intellij from the Jetbrains toolbar.
[code]
The intellij path obviously isn't my path when I launch a terminal.
https://depressiverobot.com/2016/02/05/intellij-path.html

[2020-02-28 03:42] xxpxxxxp commented on #7
Thanks @rumstead , seams exactly the issue. Changing Intellij's env is tricky, I'll add a workaround to use Go plugin's executable path.

[2020-02-28 10:17] xxpxxxxp commented on #7
I've fixed the problem in the last commit, the plugin update will be ready in 2 days.
Thanks @helmus @rumstead for your help.

[2020-02-28 10:17] #7 closed

[2020-02-28 13:50] rumstead commented on #7
Thank you!

[2020-02-28 14:02] rumstead commented on #4
I also have this problem. Is there a way to track the plugin version to commits?

[2020-03-01 09:14] Pheric opened #8 "ClassNotFoundException: org.apache.commons.io.IOUtils"
I got this exception, but I do not know what I was doing when it occurred: I found it today, but it occurred yesterday (potentially while installing this plugin). This exception has occurred once.

Plugin version: 1.1.6
GoLand version: 2019.3.2
Go version: go1.13.8
Platform: Linux / amd64

Exception:
[code]

EDIT: This has happened twice more, around the same time.

[2020-03-01 10:33] xxpxxxxp commented on #8
Thanks @Pheric . Apache common-io suppose to be an bundled library, I'll check if JetBrains removed that dependency from GoLand.

[2020-03-01 12:27] xxpxxxxp commented on #8
The problem is caused by Intellij & GoLand bundled different commons-io library (honestly I don't know why they do this). I've removed the correspond API usage, version 1.2.2 should be working now.
@Pheric repo step is: Settings - Tools - Go Linter - Get Latest

[2020-03-01 12:27] #8 closed

[2020-03-05 11:06] jamesphillpotts-fr opened #9 "Repeated "Possibly invalid config or syntax error""
I get this error in the event log over and over again while in the process of editing/refactoring/etc.

In the application logs, I see this error:

[code]

*Go Linter details*

[code]

[code]

*Application details*

[code]

[2020-03-05 19:26] xxpxxxxp commented on #9
Thank you. I've pushed a new build pending JetBrains approval, please check if the new version resolved your issue.

[2020-03-09 11:19] xxpxxxxp commented on #9
@jamesphillpotts-fr A new version should be available for upgrade, would you please check if that fixed this issue?

[2020-03-09 14:11] jamesphillpotts-fr commented on #9
Thanks @xxpxxxxp, seems to be happier now :+1:

[2020-03-09 14:11] #9 closed

[2020-03-09 17:58] Sergey1011010 opened #10 "Typing is lagging when all linters are enabled"
You probably need to do linting in another thread, because now linting causes lagging for typing.

[2020-03-10 02:50] xxpxxxxp commented on #10
Thanks @Sergey1011010 , I'm aware the linter is causing running slow when editing, I'm trying to make it run only on files saved, hope that would solve the problem.

[2020-03-10 17:03] xxpxxxxp commented on #10
@Sergey1011010  Please check if the lagging issue still exist on v1.2.6.

[2020-03-11 15:14] Sergey1011010 commented on #10
@xxpxxxxp, yep, now it works, thanks. I'm closing the issue.

[2020-03-11 15:14] #10 closed

[2020-03-23 10:35] XoseRamon opened #12 "Error when using `enable-all` and `disable` in config."
I found the following error in the logs:

`2020-03-23 11:28:09,422 [4609320]   WARN -                      go-linter - Run error: level=error msg="Running error: --enable-all and --disable-all options must not be combined"
. Usually it's caused by wrongly configured parameters or corrupted with config file. `

But in my config file there are the following lines, not a `--disable-all`, but a `disab

[2020-03-23 11:39] xxpxxxxp commented on #12
@XoseRamon Can I have your screenshot of the linter settings, it should be in
Settings - Tools - Go Linter
look like this
![image](https://user-images.githubusercontent.com/1585918/77313013-06efcc00-6d3e-11ea-971f-dca36b72b183.png)

[2020-03-23 11:55] XoseRamon commented on #12
There you are, nothing is selected but it correctly picks up the right config file.
![Screenshot from 2020-03-23 12-49-35](https://user-images.githubusercontent.com/1618295/77314172-709fb400-6d05-11ea-925b-12de93cdce63.png)

[2020-03-23 14:11] xxpxxxxp commented on #12
@XoseRamon Thank you I have found the bug. I'll release a new version soon while due to JetBrains's check, it may available in 2 days.

[2020-03-23 16:40] XoseRamon commented on #12
Thank you for the quick fix! I will let you know if I find anything else.

[2020-03-25 04:25] xxpxxxxp commented on #12
@XoseRamon The update should be available, would you help me verify if that resolves current issue? Thanks.

[2020-03-25 07:06] XoseRamon commented on #12
@xxpxxxxp I updated to version `1.2.9`. The error is gone, but the linter settings still show everything unchecked, so no linters applied, or so it seems.

[2020-03-25 07:31] xxpxxxxp commented on #12
@XoseRamon Thanks for your confirm. When using config file, the linter settings is grayed out, meaning you cannot enable/disable from there. It may not showing the accurate linters you've enabled in config file. I think it's a good feature, I'll implement it soon.

Meanwhile, does the plugin works well? Have it report issues correctly?

[2020-03-25 10:15] XoseRamon commented on #12
Yes it just shows the previous linters you picked or not, which might be
confusing. Now it works thanks!.

El mié., 25 mar. 2020 a las 8:32, xxpxxxxp (<notifications@github.com>)
escribió:

--
Xose R. de la Puente

[2020-03-25 14:30] #12 closed

[2020-03-28 18:31] susuper opened #13 "java.lang.Throwable: Invalid range specified"
[code]

golangcli-lint version: 1.24.0-windows-amd64
Go Linter version: 1.2.9
Goland version: 2019.3.4

[2020-03-29 02:33] xxpxxxxp commented on #13
@susuper Thank you, I'll fix it soon.

[2020-03-29 07:11] xxpxxxxp commented on #13
@susuper A new version is pushed, awaiting for JetBrains approval, should be ready in 2 days. Please help me check if that worked, thanks.

[2020-03-29 12:56] susuper commented on #13
@xxpxxxxp, thank you for quick reply, I will test as soon as the update will be available

[2020-03-31 13:38] susuper commented on #13
@xxpxxxxp, looks like the issue has been solved, no problems for more than 8 hours of coding. Thank you!

[2020-03-31 13:38] #13 closed

[2020-03-31 14:25] xxpxxxxp commented on #13
@susuper Thank you for your help.

[2020-04-08 09:58] fiunchinho opened #14 "inspections"
How do I configure it so that golangci-lint errors show up as inspection warnings in the editor?

I have this configured

![image](https://user-images.githubusercontent.com/627038/78771647-ceccc800-7990-11ea-90f9-bade2a8ae054.png)

and this

![image](https://user-images.githubusercontent.com/627038/78771499-88776900-7990-11ea-8c8d-c83269f3fa23.png)

But the warnings that I get when running golangc

[2020-04-08 10:20] xxpxxxxp commented on #14
@fiunchinho From your config it's all good for the plugin to work. The second config is not necessary.
If you don't have any golangci-lint inspection show in editor, it might run into issues. Would you please find and paste me any error log? You can find the log by click 'Help' - 'Show Log in Finder'

[2020-04-08 11:07] fiunchinho commented on #14
It looks like it's not capable of loading dependencies?
[code]

I'm using `dep`. When running golangci-lint as file watcher everything works just fine.

[2020-04-08 11:09] fiunchinho commented on #14
Can environment variables be set? for `GOROOT=$GOROOT$;GOPATH=$GOPATH$;PATH=$GoBinDirs$`

[2020-04-08 11:18] xxpxxxxp commented on #14
@fiunchinho The plugin is reading Go plugin's GOPATH settings. Normally it works, because if the Go plugin cannot find the right package, it will show red in editor (symbol cannot be resolved)

For your situation, do you have 2 Go installed? That saying, does your shell use different GOROOT as the IDE?

Please try add a **Project GOPATH** that those package located in:
![image](https://user-images

[2020-04-08 11:21] fiunchinho commented on #14
Testing a different project that uses go modules, it works fine. So it only fails when using `dep` and having dependencies on the `vendor` folder.

The GOPATH and GOROOT are configured properly at the project level. I don't have several go installations AFAIK.

Any ideas?

[2020-04-08 11:29] xxpxxxxp commented on #14
It might be a problem with dep integration. I'll check later and fix it if possible. Thanks for your help @fiunchinho .

[2020-04-08 11:40] fiunchinho commented on #14
It's strange. Intellij can find my dependencies in the vendor folder. I can build and run my project just fine.
It's like this plugin it's trying to use a different GOPATH or go configuration?

Thanks for taking a look.

[2020-04-08 15:42] xxpxxxxp commented on #14
@fiunchinho I tested the plugin with https://github.com/golang/dep and it works...
Essentially the plugin is running golangci-lint in background with some parameters. I'll add a debug feature to print out the exact parameters, then we could run it manually and see what's wrong.

[2020-04-08 16:26] fiunchinho commented on #14
Keep me posted. Thanks.

[2020-04-08 16:44] fiunchinho commented on #14
if it helps
[code]

This is my `$GOPATH`

![image](https://user-images.githubusercontent.com/627038/78810590-d27c4100-79c8-11ea-8b7f-cb039543d53b.png)

`$GOROOT` matches the one in the error message

![image](https://user-images.githubusercontent.com/627038/78810617-ddcf6c80-79c8-11ea-819a-cd594616e7c4.png)

my dep configuration

![image](https://user-images.githubusercontent.com/627038/78810677-f

[2020-04-08 17:16] xxpxxxxp commented on #14
Thanks @fiunchinho ! Kind of get the problem, did you manually added the global GOPATH? Could you add the same path to Project GOPATH and see if the plugin works?

[2020-04-08 17:22] fiunchinho commented on #14
I don't recall adding the global GOPATH. Adding the project GOPATH works!

[2020-04-08 17:26] xxpxxxxp commented on #14
Thanks @fiunchinho , that should be the problem. The plugin didn't take manually added Global GOPATH now. I'll fix that in next release.

[2020-04-09 09:36] fiunchinho opened #15 "Can't lint when using build tags"
Hey!

It seems it can't lint files with custom build constraints.
[code]

I have the build tags configured in Intellij, so everything else works fine. So I guess the linter is not taking that into consideration

![image](https://user-images.githubusercontent.com/627038/78880945-68aa7880-7a56-11ea-8860-c16597daca96.png)

[2020-04-09 09:46] xxpxxxxp commented on #15
Thanks @fiunchinho ! It is indeed not considered now. Would you please try with enable custom options with "--build-tags k8srequired" as a workaround?
![image](https://user-images.githubusercontent.com/1585918/78881931-09665b80-7a8a-11ea-9ffa-3375457c0846.png)

[2020-04-09 10:25] fiunchinho commented on #15
Same errors :/

[2020-04-09 16:05] xxpxxxxp commented on #15
@fiunchinho I found the silly mistake I've made. Custom Options is actually not working now, I'll make it right soon.

[2020-04-09 17:23] xxpxxxxp commented on #15
I've pushed commits to fix this and issue before, ETA to release v1.3.2 in 2 days.

[2020-04-09 18:54] fiunchinho commented on #15
That sounds awesome. Thanks!

[2020-04-10 06:31] sicay1 opened #16 "configure golangci-lint got InvalidPathException error"
i am using windows, goland 2019.3.1

Here is stacktrace.txt
java.nio.file.InvalidPathException: Illegal char <:> at index 11: C:\Python27:\python.exe\golangci-lint.exe
	at java.base/sun.nio.fs.WindowsPathParser.normalize(WindowsPathParser.java:182)
	at java.base/sun.nio.fs.WindowsPathParser.parse(WindowsPathParser.java:153)
	at java.base/sun.nio.fs.WindowsPathParser.parse(WindowsPathParser.java:77

[2020-04-10 06:39] xxpxxxxp commented on #16
@sicay1 Do you have a PATH env like `C:\Python27:\python.exe`?
You can check you PATH by run `echo %PATH%` in CMD.

[2020-04-10 12:59] xxpxxxxp commented on #15
@fiunchinho Now the new version is available, please help me check if those 2 issues been resolved, thanks.

[2020-04-10 13:29] fiunchinho commented on #15
New error

[code]

[2020-04-10 13:56] xxpxxxxp commented on #15
Thanks a lot @fiunchinho ! You are very helpful, v1.3.2 is recalled from repo because of this regression. The bug is an easy fix, a new release will soon be available.

[2020-04-10 15:06] sicay1 commented on #16
![2020-04-10 22_02_32-Window](https://user-images.githubusercontent.com/23693701/79000640-32184f00-7b77-11ea-9f30-d7f77146ce48.png)

Hi @xxpxxxxp, thank you help,
I already add python path, and update Go Linter 1.3.3, i think problem illegal char ":"

[2020-04-10 15:10] sicay1 commented on #16
ah i saw system variable PATH C:\Python27:\python.exe. Fixed.

[2020-04-10 15:10] #16 closed

[2020-04-10 15:12] xxpxxxxp commented on #16
Thank you for confirming. ':' isn't a legal char for windows path, I'm surprised MS allows to add such path to PATH.

[2020-04-13 06:32] xxpxxxxp commented on #15
@fiunchinho would you please confirm if the issue still presents now?

[2020-04-13 09:41] fiunchinho commented on #15
it seems to be working fine! Just awesome, thanks!!

[2020-04-13 09:46] xxpxxxxp commented on #15
Thanks! I'll close the issue then.

[2020-04-13 09:46] #15 closed

[2020-04-13 09:47] #14 closed

[2020-04-13 21:59] nebiros opened #17 "java.lang.Throwable: Argument rangeInElement (3132,3132) endOffset must not exceed descriptor text range (0, 3130) length (3130)."
The code:

[code]

The exception:

[code]

[2020-04-14 04:07] xxpxxxxp commented on #17
Thanks @nebiros , I'll fix it in next release.

[2020-04-15 13:55] tuxslayer commented on #9
Still doesn't work for me. Same error.
Plugin 1.3.3
golangci-lint version
golangci-lint has version 1.24.0 built from 6fd4383 on 2020-03-15T11:30:52Z

IntelliJ IDEA 2019.3.4 (Ultimate Edition)
Build #IU-193.6911.18, built on March 17, 2020
Licensed to Aleksey Yashchenko
You have a perpetual fallback license for this version
Subscription is active until March 2, 2021
Runtime version: 11.0.6+8-b520.

[2020-04-15 20:08] xxpxxxxp commented on #9
@tuxslayer please open idea log and search for "Debug command: "
then execute the following command in shell, paste any error log here.
You can find idea log in "Help" -> "Show Log"

[2020-04-16 08:57] fiunchinho opened #18 "Linter affects IDE performance when there are syntax errors"
Hey!

The linter can't be executed when there are syntax errors on the code. So it's pretty common that while changing code that is not ready yet, the inspection tries to run and the linter fails, showing the bubble tooltip saying that linter failed.
While this happens, the IDE slows down. Could the inspection be ignored if there are syntax errors?

Thanks

[2020-04-16 09:14] xxpxxxxp commented on #18
Oh I'm sorry the plugin should stop trying on editing, maybe I broke that in refactoring. I'll check that soon.

[2020-04-16 09:53] xxpxxxxp commented on #18
@fiunchinho What's the error log like please? The plugin does stop on editing, seems it's an error case not handled.

[2020-04-16 10:33] fiunchinho commented on #18
I just program normally and it suddenly the tooltip error shows up.
The error log contains

[code]

[2020-04-16 14:37] xxpxxxxp commented on #18
Got it. Will fix ASAP.

[2020-04-16 15:35] xxpxxxxp commented on #18
It's caused by golangci-lint changed its error output. Fix & Published.

[2020-04-17 07:55] fiunchinho commented on #18
Do you know how long it takes for the release to show up? Still missing from the IDE

![image](https://user-images.githubusercontent.com/627038/79545764-8a78b080-8091-11ea-99ac-dfa9950f3ae0.png)

[2020-04-17 08:02] xxpxxxxp commented on #18
@fiunchinho Haven't get Jetbrains' confirmation yet. Sometimes the review takes 1 hour, sometimes it takes 3 days. I would expect it to be ready tomorrow, sorry bro.

[2020-04-17 08:34] fiunchinho commented on #18
nono, thank you!

[2020-04-19 11:06] RomanKosyii opened #19 "How and where can i see the results of plugin work?"
I've installed plugin on Goland 2020.1, but i don't get where can i view the results.
I write the code - can't see nothing :)

Could you please help? Thanks for work!

[2020-04-19 13:16] xxpxxxxp commented on #19
@RomanKosyii
The first time after you installed the plugin, you should see a popup like
![image](https://user-images.githubusercontent.com/1585918/79688528-74314700-8281-11ea-913a-3e8de06c73e1.png)

You can click 'Configure' to open the setting dialog, or go to 'Preferences' - 'Tools' - 'Go Linter'
![image](https://user-images.githubusercontent.com/1585918/79688571-ad69b700-8281-11ea-87d7-d38d963f

[2020-04-19 19:25] RomanKosyii commented on #19
Strange. I've done all these operations, added same code with defer
![image](https://user-images.githubusercontent.com/43781324/79697656-66cd8a00-828c-11ea-8f7b-2b882d3c7a9e.png)

and still no inspections on this one.
I'm using Windows. I've downloaded the latest with the button.
Inspection level is
![image](https://user-images.githubusercontent.com/43781324/79697668-7c42b400-828c-11ea-9910-b9bfc9

[2020-04-20 02:54] xxpxxxxp commented on #19
@RomanKosyii
Please make sure your project could successfully build. The linter only works if the project could build.
If the plugin still doesn't work, please paste related log in idea log here. You can find idea log by 'Help' - 'Show Log in Explorer', then search for "go-linter"

[2020-04-20 05:24] xxpxxxxp commented on #17
@nebiros please check if the issue still exists, thanks.

[2020-04-20 05:24] xxpxxxxp commented on #18
@fiunchinho please help to check if the issue still exists, thanks.

[2020-04-20 09:15] fiunchinho commented on #18
I'm having weird behavior

[code]

[2020-04-20 09:22] xxpxxxxp commented on #18
@fiunchinho I guess you have a huge module, a lot of code in a single folder.
Please add `--timeout 3m` to custom options. 3m means 3mins, change that as you need.
Or, if you have a powerful CPU, increase concurrency by `--concurrency 4` is also a good way.

[2020-04-20 09:38] fiunchinho commented on #18
Is not that big actually https://github.com/giantswarm/azure-collector/

[2020-04-20 10:05] xxpxxxxp commented on #18
Yeah, from log it's lint 'service/collector' folder, and you should have a CPU with at least 5 cores. With my mac that folder runs in 1 sec. Could it be something eats all your CPU resources?

[2020-04-20 11:28] Metalscreame commented on #19
Thanks! That's the case. The project I tested could not be compiled. Opened normal project - everything worked fine. Thanks!

[2020-04-20 11:48] xxpxxxxp commented on #19
@Metalscreame Thanks for confirming, I guess this is another account of yourself. Issue closed.

[2020-04-20 11:48] #19 closed

[2020-04-20 19:13] fiunchinho commented on #18
I have a brand new Dell XPS 13' Developer Edition. It should be plenty

[2020-04-21 08:28] xxpxxxxp commented on #18
@fiunchinho I'm so sorry I don't have a clue, cannot repro it on my machine. Does this still occur to you now?

[2020-04-23 10:26] fiunchinho commented on #18
Yes, I ended up disabling it for all my projects :disappointed:  It's just not usable for me. IDE freezes constantly. Everything is fine when I disable it.

[2020-04-23 10:44] xxpxxxxp commented on #18
@fiunchinho Would you mind execute the debug command and see if that stuck or not? It is the same command the plugin is executing.
From your log the command should be:
`cd /home/jose/dev/src/github.com/giantswarm/azure-collector/service/collector && export PATH=/usr/lib/go-1.14/bin:/home/jose/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/

[2020-04-28 22:09] helmus opened #20 "stack trace"
[code]

[2020-04-29 03:13] xxpxxxxp commented on #20
Thanks @helmus , I'll fix it ASAP

[2020-05-01 11:39] xxpxxxxp commented on #20
@helmus Could you help me confirm if this still happens in latest version of the plugin?

[2020-05-11 07:27] xxpxxxxp commented on #20
@helmus haven't heard from you for 2 weeks, I'll close this but feel free to reopen it if the issue still presents.

[2020-05-11 07:27] #20 closed

[2020-05-11 07:27] xxpxxxxp commented on #17
@nebiros haven't heard from you for 2 weeks, I'll close this but feel free to reopen it if the issue still presents.

[2020-05-11 07:27] #17 closed

[2020-05-11 07:28] xxpxxxxp commented on #18
@fiunchinho haven't heard from you for 2 weeks, I'll close this but feel free to reopen it if the issue still presents.

[2020-05-11 07:28] #18 closed

[2020-05-15 06:55] mac89 opened #21 "Running error: --enable-all and --disable-all options must not be combined"
I'm running it using default settings and golangci-lint@1.26.0 and get the following error:

`2020-05-15 08:53:12,230 [  98761]   WARN -                      go-linter - Run error: level=error msg="Running error: --enable-all and --disable-all options must not be combined"
. Usually it's caused by wrongly configured parameters or corrupted with config file. `

Version:
`golangci-lint has version 1

[2020-05-15 07:25] xxpxxxxp commented on #21
@mac89 Do you have a `.golangci.yml`(or .golangci.toml/.golangci.json) config file anywhere in your project folder?

[2020-05-15 07:28] mac89 commented on #21
No, none of those.

[2020-05-15 07:35] xxpxxxxp commented on #21
OK, then have you set a custom option like `--enable-all` in `Go Linter` setting in IDEA?

[2020-05-15 07:45] mac89 commented on #21
I've just found the issue. I had a custom config file set in the options and the checkbox was disabled.
I just changed it to something random:
![Annotation 2020-05-15 094253](https://user-images.githubusercontent.com/2988607/82024718-7e800e80-9690-11ea-8f55-520774286e94.png)

And get this accompanying error:
`2020-05-15 09:40:57,812 [  81218]   WARN -                      go-linter - Run error: le

[2020-05-15 07:53] xxpxxxxp commented on #21
Yeah that's a bug, I'll fix it in next release. Seems nobody is seriously using that before...
Besides that, have the plugin works now?

[2020-05-15 07:54] mac89 commented on #21
Yeah, all good.

[2020-05-15 07:58] xxpxxxxp commented on #21
Thanks for confirming.

[2020-05-15 15:12] xxpxxxxp commented on #21
Fixed in last commit.

[2020-05-15 15:12] #21 closed

[2020-05-18 13:46] hugmouse opened #22 "Failed to get latest release [Windows/1.14.2]"
Can't download the linter 🤔

Go version: `go1.14.2 windows/amd64`
Goland version: `2020.1.2 (#GO-201.7223.97)`

Error: `Collection contains no element matching the predicate`

![goland64_oBaJH7gcr1](https://user-images.githubusercontent.com/44648612/82220019-af8e6680-9950-11ea-9503-6cac5390bebe.png)

[2020-05-18 19:27] xxpxxxxp commented on #22
Thanks @hugmouse
Starting from v1.27.0 golangci-lint changed their windows release name. You can see that from https://github.com/golangci/golangci-lint/releases.
While this is an easy fix for me, I'm not sure if they have made this decision permanent. Seems to me it's introduced unintentionally in https://github.com/golangci/golangci-lint/commit/77e211ba75b7802fe5e40b276bca0e928553fc7f#diff-3a895

[2020-05-19 05:42] #22 closed

[2020-05-23 05:23] xxpxxxxp commented on #22
Turns out golangci-lint is impacted by their upstream https://github.com/goreleaser/goreleaser/issues/1500
The problem is addressed at
https://github.com/golangci/golangci-lint/issues/1157
`Get Latest` should be working now, without change. Thanks for reporting.

[2020-05-25 10:29] karel-3d opened #23 "Run in background"
The current implementation blocks the IDE when the linter is running.

If the linting takes longer, it gets very annoying.

Can the lint process be run in background, as is (for example) goland current indexing?

[2020-05-25 10:50] karel-3d commented on #23
Hm, this seems to evaporate with `--concurrency 4` custom option. I think that's just because it's 4 times faster and I no longer notice the delays. :)

[2020-05-25 11:54] xxpxxxxp commented on #23
Thanks @karel-3d
I'm working on this, actually it's not easy so I cannot promise an ETA.
IDEA is block waiting on an inspector to return issues, so we have to choose return nothing immediately / return something but block UI. I'm trying some hack to workaround.
Let's keep this ticket to track progress.

[2020-05-25 11:56] karel-3d commented on #23
I feel like in the case of WebStorm, the ESLint is not blocking the main thread. But I might be wrong and ESLint is just faster.

[2020-05-25 12:22] xxpxxxxp commented on #23
Thanks! I'm reading ESLint plugin source code to see if any inspiration.

[2020-05-26 04:58] karel-3d commented on #23
I'm sorry, I might be wrong and it was TSLint

https://github.com/JetBrains/intellij-plugins/tree/master/tslint

[2020-06-01 11:20] danysz opened #24 "the plugin is "asking" to be enable in all projects"
The "plugin" is asking to enable it in all projects including also in the projects which are not "go".
It's really bothering.

[2020-06-01 11:25] xxpxxxxp commented on #24
Thanks! I'll work on a solution to detect no Go projects. And FYI the plugin will not have any overhead even enabled for no Go projects.

[2020-06-10 02:26] xxpxxxxp commented on #24
I've added an option to disable the check once for all, please check if that helps.

[2020-06-11 02:16] sonatard opened #25 "Question: When golangci-lint execute?"
I fix warning by golangci-lint and save file but warning is not deleted on IntelliJ IDEA.

[2020-06-11 03:13] xxpxxxxp commented on #25
Generally, golangci-lint is running when
* You open a go file the first time
* You save a go file

It's not running when you are editing a go file / it's not a go file.

As the execution will take a few sec, the warning will be removed after you fix it and saved the file in a few sec.
Also, Goland may decide to delay the next execution if there's one running (eg: for another go file), so overall t

[2020-06-11 04:33] sonatard opened #26 "Unused warning is not deleted"
I delete following line comment, change to use `user.Name()` method.

https://github.com/sonatard/sample-project/blob/c9a50314de0866927a6241031edc2d40c494d393/main.go#L14

[.golangci.yml](https://github.com/sonatard/sample-project/blob/c9a50314de0866927a6241031edc2d40c494d393/.golangci.yml)

And I wait 20min. Unused warning is not deleted.

<img width="579" alt="スクリーンショット 2020-06-11 13 09 54" src=

[2020-06-11 04:34] sonatard commented on #25
Thanks!! I create https://github.com/xxpxxxxp/intellij-plugin-golangci-lint/issues/26

[2020-06-11 04:34] #25 closed

[2020-06-11 04:52] xxpxxxxp commented on #26
Got it, this is because the plugin is performing analysis per folder, as running analysis for the whole project is expensive.

The plugin just analysis the folder where you opened a file, and hold the result for reuse until some file changed in the folder.

The fail in your case is because you are changing a file outside the 'user' folder, the plugin thinks nothing changed in 'user' folder, so it

[2020-06-11 05:22] sonatard commented on #26
Thanks. I'm looking forward to  force refresh!!

[2020-06-11 05:53] sonatard commented on #26
And I'd like to force push manually by keyboard shortcut.

[2020-06-11 08:09] xxpxxxxp commented on #26
Sure, I'll make it work on 'Analyze' - 'Inspect Code...'

[2020-06-24 15:13] fighterlyt opened #27 "nothing happens"
OS:  macOS Catalina 10.15.5 (19F101)
IDE : goland 2020.1.3
BUG:
    I use golangci-lint command line tool for months. I have a custom config file which enabled **wsl**check . So I wrote  some code that violate wsl rule , and nothing happens?

[2020-06-24 15:24] xxpxxxxp commented on #27
@fighterlyt 兄弟把设置截图给我看一下
![image](https://user-images.githubusercontent.com/1585918/85584446-bc018f80-b671-11ea-9c51-382668befbaa.png)

[2020-06-25 02:16] fighterlyt commented on #27
![截屏2020-06-25 上午10 15 39](https://user-images.githubusercontent.com/1442870/85645636-e6346b00-b6cc-11ea-91a8-18e6d07df6c3.png)
配置来了

[2020-06-25 02:33] xxpxxxxp commented on #27
看起来配置没问题，配置文件发现了而且wsl也是开启的。确定project本身是可以go build过的？

[2020-06-25 02:45] fighterlyt commented on #27
我是 go run main.go

[2020-06-25 04:01] xxpxxxxp commented on #27
除了wsl其他linter有能用的吗？
你的code如果是open source的话，在github上能给我看一下吗？

[2020-06-25 05:35] fighterlyt commented on #27
不好意思，不是open source, 刚发现linter可以用，但是没有auto fix

[2020-06-25 05:41] xxpxxxxp commented on #27
OK，可以用就好。auto fix不是所有linter都有的，wsl这个linter就没有，因为规则略复杂我都没搞清楚...

[2020-06-25 11:02] #27 closed

[2020-06-26 11:51] xxpxxxxp commented on #24
@danysz haven't heard from you recently, I'm closing this issue, feel free to reopen it if necessary.

[2020-06-26 11:51] #24 closed

[2020-07-11 14:43] xxpxxxxp commented on #26
@sonatard I tested your sample project, seems golangci-lint is reporting those issues itself if `check-exported: true`

Seems `unused` has a lot false-positives
[code]

Global analysis won't help, I'm sorry for misleading.

[2020-07-11 15:51] xxpxxxxp commented on #23
@karel-3d I've managed to improve the performance a bit, would you please provide any feedback?

[2020-07-15 11:00] aomelchenko opened #28 "Plugin freezing on configuration"
Plugin version: 1.4.0
GoLand version: 2020.1.4
macOS version: 10.15.5 (19F101)

Selecting path to golangcli-lint causing freezing of GoLand.
Meanwhile linter works fine via terminal:
`which golangci-lint`
`/usr/local/bin/golangci-lint`

<img width="1440" alt="Screenshot 2020-07-15 at 13 40 09" src="https://user-images.githubusercontent.com/1931958/87536633-1191f080-c6a2-11ea-9aee-afb1a35c41fc.png"

[2020-07-15 14:01] xxpxxxxp commented on #28
Got you, work on it

[2020-07-15 14:56] xxpxxxxp commented on #28
@aomelchenko I cannot successfully repro the problem, would you mind provide golangci-lint version
`/usr/local/bin/golangci-lint version`
and config `.golangci.yml` content

[2020-07-15 17:09] aomelchenko commented on #28
@xxpxxxxp Thanks for such quick response.

golangci-lint has version 1.23.8 built from 76a82c6 on 2020-03-04T14:27:24Z

[code]

[2020-07-16 05:23] xxpxxxxp commented on #28
@aomelchenko Thank you, I've located and fixed the bug. Seems it only impacts Mac platform, I need more time for test to ensure no regression. ETA to release fix in 2 days.

[2020-07-20 11:59] xxpxxxxp commented on #28
@aomelchenko please help me check if the new release fixed the UI freeze problem, thanks.

[2020-07-20 14:10] aomelchenko commented on #28
Works like a charm! Great thanks!

[2020-07-20 14:10] #28 closed

[2020-07-23 11:41] karel-3d commented on #23
SO much better!!! Should I close this issue now?

[2020-07-23 14:53] xxpxxxxp commented on #23
Thanks for confirming. I'll close this then.

[2020-07-23 14:53] #23 closed

[2020-08-05 10:22] xxpxxxxp commented on #26
@sonatard till now the `unused` linter is still miss reporting the issue even run for whole program.
I'm closing this ticket but feel free to reopen it if necessary.

[2020-08-05 10:22] #26 closed

[2020-08-06 10:27] mmierzwa opened #29 "Go Linter 1.4.2 does not work with IntelliJ IDEA 2020.2"
When the Go project is being opened IntelliJ asks to configure Go Linter for this project. Clicking on "OK" in this dialog has no result and the following exception is displayed:

[code]

InteliJ & env version details:

[code]

[2020-08-06 12:06] xxpxxxxp commented on #29
Got you, seems exception will be throw if saving without linter selected. Will fix in the next release.

[2020-08-08 01:36] CrazyTomatoOo opened #30 "The linter plug-in configuration does not take effect"
Even if I disable all the plug-ins, it can still scan for errors. I enable all plug-ins, WSL and other plug-ins do not work. Is it a bug or a wrong way to use it？

[2020-08-08 15:58] xxpxxxxp commented on #30
Hi @CrazyTomatoOo , for your questions
1. Will fix soon
2. I need more information, is there a flashing error on right down corner of IDE in such case?
Could you paste output of `golangci-lint run --enable-all --out-format json ./...` running under project root?

[2020-08-09 02:36] olegburov commented on #29
Hey @mmierzwa, try installing `golangci-lint` using this https://golangci-lint.run/usage/install/ and then install Go Linter plugin. It works for me in 2020.2.

[2020-08-10 10:41] mmierzwa commented on #29
I tried installing using homebrew (Mac) and the plugin stopped showing me the initial configuration dialog. Unfortunately, for some reason, the lining hints are not showing up anymore in IDE

[2020-08-10 10:58] xxpxxxxp commented on #29
@mmierzwa I'm working on this. Please try
GoLand (left upper corner) - Preferences - Tools - Go Linter
Config dialog should be there. Please make sure a golangci-lint executable is selected.

Any problem please let me know

[2020-08-10 11:56] mmierzwa commented on #29
Already set properly:

![image](https://user-images.githubusercontent.com/7260081/89779955-c76d2500-db10-11ea-9682-07515cf3d043.png)

[code]

but no hints are displayed.

For example, I have a type with a name that doesn't conform to a `golint` rule:

![image](https://user-images.githubusercontent.com/7260081/89780167-32b6f700-db11-11ea-91d2-31d9a7b4b3dd.png)

Running the linter from the command l

[2020-08-10 12:11] xxpxxxxp commented on #29
OK, seems previously saved config is corrupted. Try remove
~/Library/Application Support/JetBrains/<product><version>/options/other.xml
to reset the plugin config, then try again.

I'll fix the issue soon in next release 1~2 day later.

[2020-08-11 02:19] xxpxxxxp commented on #29
@mmierzwa Please help to check if the new release resolved this issue, thanks.

[2020-08-11 02:19] xxpxxxxp commented on #30
@CrazyTomatoOo Please help to check if the new release resolved this issue, thanks.

[2020-08-11 02:37] CrazyTomatoOo commented on #30
Sure, I'd like to.

---Original---
From: "xxpxxxxp"<notifications@github.com&gt;
Date: Tue, Aug 11, 2020 10:20 AM
To: "xxpxxxxp/intellij-plugin-golangci-lint"<intellij-plugin-golangci-lint@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"CrazyTomatoOo"<1650459038@qq.com&gt;;
Subject: Re: [xxpxxxxp/intellij-plugin-golangci-lint] The linter plug-in configuration does not take ef

[2020-08-11 02:48] CrazyTomatoOo commented on #30
It seems to have been fixed. Thanks a lot.

[2020-08-11 02:51] xxpxxxxp commented on #30
Thanks for confirming.\

[2020-08-11 02:51] #30 closed

[2020-08-11 07:21] mmierzwa commented on #29
@xxpxxxxp after the update to the latest version everything works perfectly 🙂  Thank you!

[2020-08-11 07:29] xxpxxxxp commented on #29
Thanks for confirm

[2020-08-11 07:29] #29 closed

[2020-08-11 10:18] arvenil opened #31 "Go linter running error. Possibly invalid config or syntax error."
The linter works from command line however when I try to set it up in IntelliJ it fails:
<img width="774" alt="image" src="https://user-images.githubusercontent.com/450355/89886235-95b99400-dbcc-11ea-8d52-9f50a7bba513.png">
But it is configured
<img width="758" alt="image" src="https://user-images.githubusercontent.com/450355/89886307-b41f8f80-dbcc-11ea-9496-6f20e1e33f2f.png">

How can I check wha

[2020-08-11 10:26] xxpxxxxp commented on #31
Hi @arvenil , you can find log at
Help - Show Log in Finder
Then open `idea.log` with an editor, search for `go-linter`

There should be something like `Run error: ...`
Please paste the error here to help me troubleshooting.

[2020-08-11 11:46] arvenil commented on #31
Thanks! Extracted from the log. Apparently it doesn't like enable-all option. It properly however picked up all linters to enable except three disabled.
[code]
[code]

[2020-08-11 13:39] xxpxxxxp commented on #31
If the plugin found an `.golangci.yml` under the project root, it will not append `--disable-all` option. Otherwise, it will append `--disable-all -E ...`
So I guess either your `.golangci.yml` is not under the project root, or you've created it after open the project with GoLand. If it's the first case, please considering put it under project root; If it's the second, that's OK, the plugin will d

[2020-08-11 15:40] arvenil commented on #31
I have `.golangci.yaml`, works with `.golangci.yml` 🤦

However even though it works it keeps returning error information that binary needs to be configured - but it is and it already works.
[code]

Anyway, thanks!

[2020-08-11 15:59] xxpxxxxp commented on #31
My bad, didn't know `.golangci.yaml` also works
They should definitely write that down on https://golangci-lint.run/usage/configuration/
Merged your PR, next release will be in 1 week.

[2020-08-12 07:43] arvenil commented on #31
@xxpxxxxp hey, so there is still something not right, like I've mentioned in last post. Every time I start or open project it complains about missing executable. Executable is there. I don't change anything. Everything works but this event log error is really annoying.
<img width="579" alt="image" src="https://user-images.githubusercontent.com/450355/89988585-0ff72080-dc80-11ea-884c-ef010601ac47.p

[2020-08-12 08:04] xxpxxxxp commented on #31
Hi @arvenil , the plugin is trying to execute 'golangci-lint version' with the executable you selected in the setting panel.
Any error on execution will send this notification. Please try execute the command and see if anything abnormal.

[2020-09-03 13:50] #31 closed

[2020-09-10 09:25] EugeneAndrosovPaser opened #33 "Freeze IDE while codding."
Hello, I have a problem with freezing IDE while codding.

I see that while I'm writing a function time to time launching golangci-ling linter for generating issues, but I do not completely write code. In this case, I see freezing IDE. Also, in this case, I see an error about Linter has the wrong configuration.

Can you add an option to launch linter when I do Save action like in "File watcher"?

L

[2020-09-10 12:01] xxpxxxxp commented on #33
Hi @EugeneAndrosovPaser , which version of the plugin are you using? You can see that from plugin page.

[2020-09-10 14:13] fgblomqvist opened #34 "Wrong permission on downloaded golangci-lint"
I used the "Get Latest" feature to download the latest golangci-lint. However, it didn't set the executable permission on the file so it doesn't work until you manually do. Tbh, I think you should just force people to install it on their own. I think's that's a better practice.

[2020-09-10 14:47] fgblomqvist opened #35 "Incorrect command to run the linter"
This is what's getting run according to the IntelliJ logs:
[code]

This is very incorrect.
This is all you should run:
[code]

You shouldn't mess with PATH or GOPATH, it causes weird errors for me and probably for a lot of other people. Currently the linter is unable to run.

[2020-09-10 14:48] fgblomqvist opened #36 "maligned.suggest-new is deprecated"
You're currently using `--maligned.suggest-new`, but that has been deprecated and will be removed soon.

[2020-09-10 14:59] fgblomqvist commented on #35
Perhaps you need to change the workdir, but you shouldn't have to change the PATH and GOPATH.

[2020-09-12 00:40] xxpxxxxp commented on #35
Hi @fgblomqvist , the command above is for debug in case of the plugin failed, it's not what actually get runned inside the plugin.
The reason to change GOPATH is that people might set different GOPATH inside Goland's setting, diff with system-wide settings. You can check that at Goland settings.
Change PATH is same: people might have Go SDK set in Goland, while not set Go binary in system PATH.
P

[2020-09-14 12:03] xxpxxxxp commented on #36
Thanks @fgblomqvist , I know the flag is deprecating, it's used for providing quick-fix for `maligned` linter, currently seems no better way to do that other than the flag.

[2020-09-14 12:03] #36 closed

[2020-09-14 12:11] xxpxxxxp commented on #35
For example:
system GOPATH is added if checked `use GOPATH that's defined in system environment`
custom GOPATH might be added in `Project GOPATH` above
![image](https://user-images.githubusercontent.com/1585918/93084104-24d33380-f6c6-11ea-8140-f64729b9f554.png)

[2020-09-14 12:57] xxpxxxxp commented on #34
It should set the right permission, which platform does the issue happen, win/linux/mac?

[2020-09-16 13:11] aomelchenko opened #37 "Argument rangeInElement exception"
Hi, I could see a lot of errors in IDE Fatal Errors log. I don't think this is critical. Plugin works. But who knows. This should help you to understand what is going on.

Platform:          Mac
OS version:      macOS Catalina 10.15.6 (19G2021)
Plugin version: 1.4.3
GoLand:            2020.2.2 build #GO-202.6948.9

`ava.lang.Throwable: Argument rangeInElement (3866,3866) endOffset must not exceed

[2020-09-17 02:20] xxpxxxxp commented on #37
Hi @aomelchenko , this happens if you just edited a file, some code is changed so the linter cannot find them anymore. The exception is caught later so the plugin works as well, error message is printed in IDEA log for debugging.

[2020-09-17 02:20] #37 closed

[2020-09-18 15:23] aomelchenko commented on #37
Got it, thanks!

[2020-09-20 21:47] fgblomqvist commented on #34
It happened on mac, have not tried elseswhere.

[2020-09-21 14:02] xxpxxxxp commented on #34
I've tried and it works well on my mac, let's keep it here to see if anyone has the same issue.

[2020-09-29 10:22] tarmo-randma opened #38 "IDE freezing during editing"
When editing non-go files (in my case *md files) the IDE keeps freezing after every few seconds briefly. At the time I see from task manager that under IntelliJ IDEA app some additional processes are executed.. go.exe and golangci-lint.exe. During this time the editor window remains unresponsive.

Disabling this plugin eliminates the freezing issue with md files

While this freezing also occurs wh

[2020-09-30 04:28] xxpxxxxp commented on #38
@tarmo-randma Thanks for reporting!
For your first question, I'm suspecting your markdown file is associated with Go file type. If possible, would you mind install `PsiViewer` plugin from Intellij Marketplace, open the panel `View - Tool Windows - PsiViewer`, then open a markdown file in editor, check if the `containingFile` is `Markdown file` at top of the PsiViewer panel, like this:
![image](htt

[2020-09-30 08:07] tarmo-randma commented on #38
After installing PsiViewer:
- for md file containingFile is "Markdown file"
- for go file containingFile is "GO_FILE"

When I restarted the IDE to make sure everything was fresh, I saw the same results in PsiViewer, but md files did not lag any more. Task manager also did not show "golangci-lint.exe" executing when editing md files.

This matches what I have seen earlier as well.. On a clean resta

[2020-09-30 13:24] tarmo-randma commented on #38
Markdown files started stuttering again. The lockups in go files also got worse at the same time. PsiViewer is still showing correct containingFile values.

The only additional lead maybe worth mentioning is that I am working with several project open in several IDE windows at the same time - so maybe these different windows cause issues? Maybe validation is triggered for all IDE instances or some

[2020-10-01 09:59] xxpxxxxp commented on #38
Thanks @tarmo-randma for infos, I'll try to identify the problem.

[2020-10-09 07:06] prigornitskiy commented on #34
Same issue

lrwxr-xr-x   1 ionix  admin    29B  1 окт 18:53 gofmt -> ../Cellar/go/1.15.2/bin/gofmt
-rw-r--r--   1 ionix  admin    21M  8 окт 12:08 golangci-lint

[2020-10-09 09:54] xxpxxxxp commented on #34
Fixed the issue and will release soon, thanks @fgblomqvist @prigornitskiy !

[2020-10-09 09:54] #34 closed

[2020-10-09 15:07] arvenil commented on #31
So the issue was lack of +x on executable. Fixed in https://github.com/xxpxxxxp/intellij-plugin-golangci-lint/issues/34 Thanks!

[2020-10-10 02:53] xxpxxxxp commented on #31
Oh that explains, thanks for letting me know!

[2020-10-14 16:24] xxpxxxxp commented on #38
Hi @tarmo-randma , please help me check if the new release fixes the problem, thanks.

[2020-10-15 06:37] tarmo-randma commented on #38
1.4.5 is not available through the inteij updater. I tried also uninstalling and reinstalling the plugin but it still got just 1.4.4

[2020-10-15 07:08] tarmo-randma commented on #38
In 1.4.5 the plugin is still causing stuttering in go files. Never got to the markdown files.. had to disable it as it was too noticable. It feels very much like that all work is still done in the UI thread

[2020-10-15 14:22] lggomez opened #39 "Go linter running error masking a go get error"
I'm having the following error (package name omitted since it's work internal):

idea.log:
[code]

I understand that trying to parse anything from stderr is tricky to say the least but in this case it wasn't a parameter or config error, I'm not familiar with the golangci-lint error messages aside from the linter errors but maybe there is something that can be done to differentiate error types?

[2020-10-16 12:08] xxpxxxxp commented on #39
The error msg is misleading, I'll make it more meaningful.

[2020-10-16 12:08] #35 closed

[2020-10-29 05:16] xxpxxxxp commented on #39
Hi @lggomez for this particular issue, I guess you are using go vendor instead of go mod. If that's the case, please add the following to `.golangci.yml` config

[2020-10-29 05:16] #39 closed

[2020-10-29 05:18] xxpxxxxp commented on #33
Track with #38

[2020-10-29 05:18] #33 closed

[2020-11-01 14:05] iangregsondev commented on #38
Hi, I am also getting this. Using the latest version of the plugin.

Updated the golinter binary.

I was going crazy - I thought there was an issue with intellij. It was soooooo slow, code completion would just pause. It was unworkable.

I removed some flutter plugins as I wasn't using them - figured something like that might be causing an issue - but nothing - still the same..

Finally, I removed

[2020-11-01 14:10] iangregsondev commented on #38
One thing I forgot to mention is that I did upgrade the linter via the command line as intellij informed me there was an update but it couldn't update it via the IDE because of a permission issue so I did it through brew

[code]

[2020-11-01 16:19] xxpxxxxp commented on #38
@iangregsondev sorry for causing the problem, could I have your intellij version? A few other infos might help too, like
how many CPU cores and total memory does your MacBook has?
how many instances of intellij is currently opening?
what's the memory usage of intellij (you can see that by right click intellij's right-down corner and check memory indicator)?

[2020-11-01 16:57] iangregsondev commented on #38
@xxpxxxxp Sure, so I have 32MB, let me paste a image here, a picture is worth 1000 words as they say :-)

![image](https://user-images.githubusercontent.com/2370364/97809167-a4639480-1c6b-11eb-96b7-89e546293624.png)

Also, I notice I have lots of memory available and also the CPU is not overworked at all.

To give you more info, I will need to reinstall the plugin - back in 10 mins with some more

[2020-11-01 17:02] iangregsondev commented on #38
I have 2 instances open of intellij but I am not doing anything with the other right now.

![image](https://user-images.githubusercontent.com/2370364/97809289-46837c80-1c6c-11eb-80c1-6070099dac6c.png)

and

![image](https://user-images.githubusercontent.com/2370364/97809300-57cc8900-1c6c-11eb-9b6c-66486c3598be.png)

[2020-11-01 17:05] iangregsondev commented on #38
Ahhh ! @xxpxxxxp so when you asked me about instances, I closed 1 down and now it works ok

If I open up another instance it dies again :-)

The 2 apps I have open are both golang and both are very simple apps.

Close the other down and everything is responsive again.

Having 2 instances, checking the memory and they are using about the same.

[2020-11-02 02:51] xxpxxxxp commented on #38
Thank you, that echoes @tarmo-randma 's word, apparently there's performance downgrade in multiple instances, possibly race conditions. I'll try to identify it soon.

[2020-11-02 08:16] xxpxxxxp commented on #38
Still could not repro the bug, @iangregsondev are you using `.golangci.yml` config? Could you share your config file with me? I'm suspecting a specific config triggered the bug.

[2020-11-02 08:31] iangregsondev commented on #38
I am not using anything like that, i have no config what so ever... BUT.. The other repo i have open in another instance fo intellij does have that !

Let me give you the repo

https://github.com/prometheus/node_exporter

and here is the config

[code]

I have this repo open because I am trying to use it as an example of some software I am developing..

So I have node-exporter (see above) open in

[2020-11-02 08:32] iangregsondev commented on #38
@xxpxxxxp Also i would like to state that it is dormant, I am not doing anything with the intellij instance - its only open, my main dev is happening in my own app in another intellij instance...

My intellij instance is what suffers when I have the other open, if I close the other instance (node-exporter) down then my instance now runs smoothly..

Weird :-)

[2020-11-02 09:32] xxpxxxxp commented on #38
I can see the IDE stuck when I opened a file, then back to normal after a few seconds. I'll fix this problem first.

[2020-11-03 07:41] xxpxxxxp commented on #38
I think I found the bug, I'll make a release tomorrow, please help me verify if that fixes the issue.

[2020-11-03 07:42] iangregsondev commented on #38
@xxpxxxxp Sure, I have the 2 projects here - so I can easy to test it for you - no worries.

Let me know.

[2020-11-05 13:19] yngvark opened #40 "Plugin asks to configure project that I already configured"
Every time I open a project I get this

![image](https://user-images.githubusercontent.com/562343/98245738-a9795a00-1f71-11eb-9cd0-e9089e92af4a.png)

`golanci-lint executable is need for linter inspection work....`

However, I have configured this thing several times, but it seems to be forgotton as soon as I close the project. The linter is working, so I know the configuration works.

[2020-11-05 13:53] xxpxxxxp commented on #40
Can I have your OS version `uname -a`
And path to the executable:
![image](https://user-images.githubusercontent.com/1585918/98249284-09dbbc00-1fb1-11eb-92f0-c3dd765f954f.png)
And most importantly, the permission of the executable
![image](https://user-images.githubusercontent.com/1585918/98249520-4a3b3a00-1fb1-11eb-9dec-6ebff89f15e4.png)

[2020-11-06 08:49] yngvark commented on #40
Sure:

[code]

Path: `/home/yngvar/go/bin/golangci-lint`
![image](https://user-images.githubusercontent.com/562343/98345764-62dd3b80-2015-11eb-8a44-2f6ee189d368.png)

[code]

[2020-11-06 11:25] xxpxxxxp commented on #40
Hi @yngvark , so far I cannot repro the bug, I need your help, might be a little complicated:
Please help to check if
`~/.config/JetBrains/GoLand2020.2/options/other.xml`
(change IDE name and version accordingly)
contains a field naming `golangci-lint`
![image](https://user-images.githubusercontent.com/1585918/98360658-2b967b00-2065-11eb-824a-607c33c64b97.png)

Then please reopen the project, conf

[2020-11-06 12:38] yngvark commented on #40
For me the file is in `~/.config/JetBrains/IntelliJIdea2020.2/options/other.xml`. Here I have

[code]

I did the following:
* Opened my project
* The popup appeared again. Now I changed the golangci-lint executable to something else (just a random executable in the same folder).

The `~/.config/JetBrains/IntelliJIdea2020.2/options/other.xml` immediately was updated with the new executable.

* I cl

[2020-11-06 13:02] xxpxxxxp commented on #40
Thank you, are you using a custom build of golangci-lint? What's the output of
`/home/yngvar/go/bin/golangci-lint version`

The plugin is trying to verify the output like
`golangci-lint has version 1.32.2 built from 52d26a3 on 2020-11-03T01:15:38Z`
If it cannot match the pattern, it thinks the `golangci-lint` is not valid.

[2020-11-06 13:14] yngvark commented on #40
[code]

I can't remember how I installed golangci-lint anymore. But I guess you are right, I must have made a custom build somehow :persevere:

I downloaded latest release, now it shows

[code]

And amazingly, the popup is now gone! Sorry for your trouble, but thanks so much for your help.

[2020-11-06 13:14] #40 closed

[2020-11-06 13:22] xxpxxxxp commented on #40
Thanks for confirming, I will update the check accordingly, custom build should also be considered valid.

[2020-11-07 16:36] pauloavelar opened #41 "Plugin does not seem to recognize exclude-rules for gomnd"
I am not sure if this is related to how `golangci-lint` is called by the plugin or something specific to **gomnd**, but it is flagging magic numbers for files excluded in `issues.exclude-rules`.

When golangci-lint is called from the terminal, no issues are listed.

Exclusions:
[code]

Screenshots:
![image](https://user-images.githubusercontent.com/1754076/98446655-c478d500-20fd-11eb-9740-c2c91f9a

[2020-11-08 03:10] xxpxxxxp commented on #41
Hi @pauloavelar , can I see your plugin config screeshot? It's in Settings - Tools - Go Linter

[2020-11-08 14:49] pauloavelar commented on #41
Sure. There you go.
![image](https://user-images.githubusercontent.com/1754076/98468174-fea6ad00-21b7-11eb-845c-02fbaca62fc7.png)

This is the config file:
https://gist.github.com/pauloavelar/2586e46989b1e35d532decfab6990af8

[2020-11-09 03:51] xxpxxxxp commented on #41
Got it, I can repro the issue with your config file, will fix soon.

[2020-11-09 07:25] iangregsondev commented on #38
Hi @xxpxxxxp , I noticed you released the new plugin.

I have just updated it and I am trying to reproduce it and it seems to be fixed!

I am currently in another project right now so I am with go at the moment but I was able to produce it very easily before and now since the update, the slowness has gone.

I have multiple projects open and the same 2 projects as before.

So from me, it looks good

[2020-11-09 07:31] xxpxxxxp commented on #38
Thanks a lot for confirming @iangregsondev !

[2020-11-09 07:47] xxpxxxxp commented on #38
Fixed IDE freezing in case of multi projects. Feel free to reopen if the issue still happening.

[2020-11-09 07:47] #38 closed

[2020-11-15 09:04] iangregsondev opened #42 "Go linter stopped working"
Hi,

I am using the latest go linter plugin, latest go linter executable from brew, latest intellij

and BigSur :-)

The IDE doesn't seem to shout at me anymore, i have purposely put some errors in the file, like blocks being next to declarations etc but nothing..

Is there a way to see whats happening..

I will leave a screenshot here that might explain it

![image](https://user-images.githubuser

[2020-11-15 11:11] xxpxxxxp commented on #42
WOW BigSur! Haven't updated my mac. Please check IDEA log to see anything abnormal, should be in `Help` - `Show log in Finder`.

[2020-11-15 12:21] iangregsondev commented on #42
Nice!, this was weird :-)

So I found the log file and noticed it was massive :-(

So I closed intellij

removed all the files from the log directory - there were dumps as well... restarted intellij and it works :-)

Thanks - closing!

[2020-11-16 17:32] bojan-embroker opened #43 "Custom options not working"
I have set "Custom Options" to `--config /home/<some_path>/.golangci.yml`, but I am still getting linter results based on enabled linters in the "Go Linter" settings dialog. Goland is not showing any errors related to running golangci-lint.

I don't know if it could be relevant, but Goland log has many of these entries:
` WARN - tions.ex.ConfigurableCardPanel - auto-dispose 'Go Linter' id=preferen

[2020-11-17 03:52] xxpxxxxp commented on #43
Hi @bojan-embroker , due to implementation, setting `--config` in `Custom Options` will not work properly. Actually, the config is been used but enabled linters are force replaced by the plugin.
Please considering place the `.golangci.yml` at your project root directory. That way the plugin will auto pick up your config file.

[2020-11-17 09:02] bojan-embroker commented on #43
Hi  @xxpxxxxp,

Thank you, that works!

I also had success with putting .golangci.yml config file in my home folder. Of note is that once there is a config file that Go Linter plugin recognizes, options from its UI are ignored and per folder config files can be used too.

[2020-11-17 09:02] #43 closed

[2020-11-17 10:02] xxpxxxxp commented on #43
Yeah, you've found the hidden feature ^_^

But I have to inform you, under a continuous effort to improving performance, config file will be passed directly to `golangci-lint` soon, see change: https://github.com/xxpxxxxp/intellij-plugin-golangci-lint/commit/a93467a6bf62fa26fd04477af8596c8c65f44f40

I will add support to `--config` option too, but I'm afraid you'll have to remove the "fake" `.gola

[2020-11-17 11:44] bojan-embroker commented on #43
Can you elaborate a bit what "config file will be passed directly" means? It's hard for me to understand the behaviour change by looking at the commit. Will per-folder config files still work like they do when running golangci-lint from command line?

[2020-11-17 14:54] xxpxxxxp commented on #43
Sure, following is going to happen in the next release:
1. custom option will be entirely gone
In a survey internally, most users have no idea what the custom option is and nobody is using it. Since it can be safely replaced by config file, so it will be removed soon
2.  only project level config file will be supported
If the project is at `/user/yp/goland/project`, then config file located in `/u

[2020-11-17 15:10] bojan-embroker commented on #43
Could both #41 and per-folder config files be supported if golangci-lint is called without passing it a config? If most users use the same config as they do in CI, they do not need the ability to set config through setting in Goland.

[2020-11-17 15:17] xxpxxxxp commented on #43
Plugin will pick up config file, users are not required to set it through settings.
The problem described in #41 could only be fixed by setting `golangci-lint` working dir at project root, otherwise the exclude path is incorrect, as it's a relative path from working dir. In such case, `golangci-lint` is not able to pick up per-folder config file, as its working dir is project root.

[2020-11-17 16:20] bojan-embroker commented on #43
If I understand correctly, that change will break Go Linter plugin for us. We have other things than Go in our project and Go code isn't in the root for the project. Could you add an option to set working directory?

[2020-11-17 16:27] xxpxxxxp commented on #43
Got you, are you probably using Intellij with a mixed project of Java & Go? By saying per-folder config files, you don't actually have different config files for each sub-folders, just one single config file under the Go project, but not the root project?
If my understanding is correct, having an option to set Go project dir would solve that case.

[2020-11-17 16:38] bojan-embroker commented on #43
Exactly, our project is a mix of languages and all of the Go code is a single subfolder of the project root. Addition of that option would mean we could continue using Go Linter in next release of the plugin.

[2020-11-17 16:43] xxpxxxxp commented on #43
OK, the option will be included in next release, thanks for the information.

[2020-11-17 16:44] bojan-embroker commented on #43
That is great, thank you very much!

[2020-12-13 02:09] pauloavelar commented on #41
Can confirm this issue is fixed in the latest release (v1.4.7). Thanks for the quick fix.
And I realized you had to add another feature to avoid breaking some current expected behavior in #43, so kudos for that!

[2020-12-13 02:09] #41 closed

[2020-12-13 02:50] xxpxxxxp commented on #41
Thanks for quick confirming!

[2020-12-28 16:33] steebchen opened #45 "No linters shown in IDEA 2020.3"
I am on macOS Big Sur 11.1 and 2020.3 IU-203.5981.155, and the binary exists and works but no linters are shown. It worked before; I'm not sure if updating Big Sur or IJ or something else is the issue:

<img width="984" alt="image" src="https://user-images.githubusercontent.com/5013932/103229079-ea379300-4964-11eb-9a4f-0e1b75b3b4c8.png">

Any tips on what I could try or provide to help solve this?

[2020-12-28 18:08] mehmet-ozgul commented on #45
I have the same issue. It looks like [gci](https://github.com/daixiang0/gci) is broken and its exception terminates the go-linter's discovery loop:
[code]

[2020-12-29 04:55] xxpxxxxp commented on #45
Hi @steebchen @mehmet-ozgul
I see golangci-lint has released 3 versions last day (v1.33.1 v1.33.2 v1.34.0), all breaks this plugin. Not sure whether they are having any regression.

Now the latest working version is v1.33.0, please use that if necessary
https://github.com/golangci/golangci-lint/releases/tag/v1.33.0

I'll keep an eye on their releases and see what I can do on the plugin side.

[2020-12-29 08:54] steebchen commented on #45
Indeed; I'll just stay on v1.33.0 for now then.

[2020-12-31 02:53] koalacxr commented on #45
I have the same problem.
![image](https://user-images.githubusercontent.com/6064099/103391762-fafb2b00-4b55-11eb-9508-db563ff9bbcd.png)

And then select project root:
![image](https://user-images.githubusercontent.com/6064099/103391849-4c0b1f00-4b56-11eb-96d3-f3d63f55759d.png)
![image](https://user-images.githubusercontent.com/6064099/103391877-647b3980-4b56-11eb-9414-83827f317d31.png)

[2020-12-31 04:17] xxpxxxxp commented on #45
Hi @koalacxr , have you set 'GOROOT' in IDE? The plugin needs to know 'GOROOT' to work correctly.
![image](https://user-images.githubusercontent.com/1585918/103394226-2126c800-4b62-11eb-9786-7bf68a6c08d8.png)

[2020-12-31 11:59] koalacxr commented on #45
The Go version upgraded from 1.15.5 to 1.15.6 still has the same problems.
![image](https://user-images.githubusercontent.com/6064099/103409609-8ef2e400-4ba2-11eb-9641-24e100a1179c.png)

![image](https://user-images.githubusercontent.com/6064099/103409621-9c0fd300-4ba2-11eb-9742-dcee6ac9b1d8.png)

[2020-12-31 16:19] xxpxxxxp commented on #45
Hi @koalacxr , I see 'GOROOT' is set, please make sure it's saved, then the 'Go Linter' page still not working?

[2020-12-31 16:32] koalacxr commented on #45
Be sure to save the Settings 'GOROOT' and close the IDE, then open the IDE again, same problem.

[2020-12-31 16:35] xxpxxxxp commented on #45
@koalacxr I think I known the reason now, will fix it soon.

[2020-12-31 20:54] mehmet-ozgul commented on #45
Good news. GoLinter 1.4.8 (It is just updated) works with golangci-lint 1.34.1 on MacOS 11.1.

[2021-01-01 09:38] xxpxxxxp commented on #45
Great! @koalacxr does it work now?

[2021-01-01 12:03] koalacxr commented on #45
The problem remains.

$golangci-lint --version
golangci-lint has version 1.34.1 built from d7dd233 on 2020-12-29T06:20:54Z

[2021-01-01 12:45] xxpxxxxp commented on #45
@koalacxr my fault, I forgot to mention, I've recalled v1.4.8 from jetbrains market, then published that version again, to fix case above. You have to uninstall the plugin, then install it from market again, sorry for troubles.

[2021-01-01 14:35] steebchen commented on #45
I can confirm it works in the latest version. Thanks!

@koalacxr Please create a new issue since your error problem is not the same as the one I initially described. Thanks.

[2021-01-01 14:35] #45 closed

[2021-01-02 00:48] koalacxr opened #46 "No linters shown in IDEA 2020.3.1"
I have the problem.

![](https://user-images.githubusercontent.com/6064099/103391762-fafb2b00-4b55-11eb-9508-db563ff9bbcd.png)

![](https://user-images.githubusercontent.com/6064099/103391849-4c0b1f00-4b56-11eb-96d3-f3d63f55759d.png)

![](https://user-images.githubusercontent.com/6064099/103391877-647b3980-4b56-11eb-9414-83827f317d31.png)

![](https://user-images.githubusercontent.com/6064099/1034

[2021-01-02 01:38] koalacxr commented on #46
This prompt box pops up every time you open the project.
![image](https://user-images.githubusercontent.com/6064099/103449087-26a91d00-4cde-11eb-8f9b-4dd2c7477ba2.png)

[2021-01-02 01:59] koalacxr commented on #46
java.lang.Exception: Failed to Discover Linters: RunProcessResult(returnCode=2, stdout=, stderr=panic: go [-e -json -compiled=true -test=false -export=false -deps=false -find=true -- std]: exit status 1: go: github.com/aliyun/aliyun-oss-go-sdk@v2.1.5+incompatible: Get "https://proxy.golang.org/github.com/aliyun/aliyun-oss-go-sdk/@v/v2.1.5+incompatible.mod": dial tcp 172.217.160.81:443: i/o timeout

[2021-01-02 04:35] xxpxxxxp commented on #46
哈哈兄弟看起来是国人，抱歉我上个issue忘了跟你说，v1.4.8这个版本在你跟我说还有问题之后我就召回了，然后改了一些代码重新发布了一次。你需要从IDE里卸载这个插件，再重新安装一次（应该不需要重启IDE，但保险起见最好重启一下），这样就会是最新的版本，应该会修好你这个问题。

你的情况跟别人不一样的是你的 go 是放在 /user/local 下的，之前的插件默认认为这个路径在 PATH 里，然而实际上又不是，就崩了。

[2021-01-02 05:50] koalacxr commented on #46
谢谢兄弟，辛苦了。
按照你的方案：卸载插件，重启了IDE，再安装重新安装插件，重启IDE，还是有如下问题：

![](https://user-images.githubusercontent.com/6064099/103449087-26a91d00-4cde-11eb-8f9b-4dd2c7477ba2.png)

选择project root项目根目录，如下异常：
![](https://user-images.githubusercontent.com/6064099/103391849-4c0b1f00-4b56-11eb-96d3-f3d63f55759d.png)

[2021-01-02 06:11] xxpxxxxp commented on #46
emmm这个还是召回之前的版本，新的版本里我改了提示信息的文字，怕是Goland有某种plugin的cache
我来说一个稍微麻烦的终极方案吧

* 卸载这个plugin
* 重启IDE
* 从官方repo里下载最新的版本v1.4.8 https://plugins.jetbrains.com/plugin/12496-go-linter/versions
* 下载完成是一个zip文件
* 在Goland里选择从硬盘安装插件
* 选择刚才的zip文件，确认安装
* 重启IDE

![image](https://user-images.githubusercontent.com/1585918/103451848-0ee48f80-4d04-11eb-9613-646662215357.png)

[2021-01-02 07:43] koalacxr commented on #46
@xxpxxxxp 按这个方案做了一遍，打开IDE有如下弹框：

![](https://user-images.githubusercontent.com/6064099/103449087-26a91d00-4cde-11eb-8f9b-4dd2c7477ba2.png)

选择项目，如下报错：

![](https://user-images.githubusercontent.com/6064099/103391849-4c0b1f00-4b56-11eb-96d3-f3d63f55759d.png)

[2021-01-02 12:51] xxpxxxxp commented on #46
怪不得，我发错版了，没带上最新的commit...
刚刚发了最新的版本，稍等一天就会上线了

[2021-01-03 11:00] xxpxxxxp commented on #46
这次我亲自试了一下，保证没有问题了。只需要卸载现有的plugin，再从market安装就好。

[2021-01-03 11:25] koalacxr commented on #46
@xxpxxxxp 感谢修复
已经设置了project root，保存都没有问题。再次打开项目，弹出如下图：

![](https://user-images.githubusercontent.com/6064099/103449087-26a91d00-4cde-11eb-8f9b-4dd2c7477ba2.png)

这个比较焦虑，能处理下吗

[2021-01-03 11:42] xxpxxxxp commented on #46
设置页面正常了吗？
这个可以先点 `Don't show for this project` ，不影响使用，下个release一起修复吧。

[2021-01-03 12:18] koalacxr commented on #46
点了“Don't show for this project”，再次打开还是弹框

[2021-01-04 02:41] xxpxxxxp commented on #46
嗯发了一个新版修这个了，还有气他异常吗我一起修了...

[2021-01-04 02:46] koalacxr commented on #46
选择projectroot后，有时超时的异常，会弹出goroot选择框，比如项目中含有github.com/ethereum/go-ethereum v1.9.25(去掉这个包就没事)，这个超时最好能修掉。

[2021-01-04 02:55] xxpxxxxp commented on #46
这个我去不了的，所有问题的原因是golangci-lint更新了内置linter gci的版本，新版本gci会在init时候尝试load所有的package，这个操作本身可能非常的耗时，取决于import的package大小。我觉得这个操作十分的不合理，做lint的时候也就算了，`golangci-lint version` `golangci-lint linters`时候也这样就不正常，而且gci也不是一个很常用的linter，我准备提issue去了。

[2021-01-04 03:13] koalacxr commented on #46
@xxpxxxxp 那就修复每次打开项目弹框的问题吧

[2021-01-05 07:13] koalacxr commented on #46
升级到1.4.9解决了，感谢

[2021-01-05 07:13] #46 closed

[2021-01-05 07:16] xxpxxxxp commented on #46
👍 我试着联系下gci的作者，看样子也是国人，看看能不能把初始化这段优化一下

[2021-01-11 04:57] xxpxxxxp commented on #46
golangci-lint最新的release修复了 gci 导致启动慢的问题，可以试一下

[2021-01-11 17:37] mattayes opened #47 "Can't pass in --fix or --fast flags"
In Goland 2020.2 I could pass in custom flags to `golangci-lint`. I would pass `--fix` to autofix issues and `--fast` to skip slow linters. In 2020.3 that option is no longer available, making some linters (e.g., `gci`) painful to use.

Is there a way to specify these flags?

[2021-01-12 03:29] xxpxxxxp commented on #47
Hi @mattayes , `custom option` is removed as nearly all options could be set via configuration file, refer to https://golangci-lint.run/usage/configuration/

For your needs, I think `.golangci.yml` below should work:
[code]

But be noted to add your desired linters to `enable` section, if config file is used, linters set in plugin panel will be ignored.

[2021-01-12 16:30] mattayes commented on #47
@xxpxxxxp Thanks, that works for us!

Fix isn't included in the documentation, however it is in [the code](https://github.com/golangci/golangci-lint/blob/638b070717703db694914a691626c5a15d398661/pkg/config/config.go#L581). I'll open an issue there to fix the docs.

[2021-01-12 16:30] #47 closed

[2021-01-13 04:58] azdanov opened #48 "Not running"
I'm having the same issue as in issue #42. The plugin (v1.4.9) stopped working after a while and logs are empty (no GoLinter entries).

Any ideas on how to debug, why it's not running?

[code]

[2021-01-13 05:09] xxpxxxxp commented on #48
Hi @azdanov , by saying `stopped working after a while`, if I understand correctly, it worked for a while, then stopped working?

Please run a few checks
* Restart Goland (Quit entirely by Ctr + Q then start again)
* Make sure the plugin is loaded, should have log like `Loaded custom plugins: PsiViewer (203-SNAPSHOT), Visual Studio Keymap (203.5981.152), Go Linter (1.4.9) `
* Make sure plugin conf

[2021-01-13 05:44] azdanov commented on #48
Thanks for a fast reply. :)

I've found why it wasn't working. For some reason, unless the project is inside `~/go/src` then it won't work, yet Goland will be able to execute it normally, for example, if it's inside `~/projects/`.

I guess that's my bad.

Now I'm getting a bunch of these errors:

[code]

<img width="1109" alt="Screenshot 2021-01-13 at 07 42 45" src="https://user-images.githubuserc

[2021-01-13 05:51] azdanov commented on #48
Okay, it seems to be working now. Thank you :)

What I had to do is make sure that the file/directory structure is correct. Otherwise, it won't work, or duplicate the path when executing the command.

[2021-01-13 05:51] #48 closed

[2021-01-13 05:54] xxpxxxxp commented on #48
Glad you made it work!

[2021-01-13 06:31] azdanov opened #49 "Can't set Project Root"
<img width="1109" alt="Screenshot 2021-01-13 at 08 19 33" src="https://user-images.githubusercontent.com/6123841/104414728-680cb880-5579-11eb-852e-7005c4b863af.png">

Project root is stuck in this directory. Even if I select a new one, and press apply/ok it is reset to the initial location. Is there a config location that I can manually edit?

[2021-01-13 06:39] xxpxxxxp commented on #49
Yes, the config is at
`~/Library/Application Support/JetBrains/GoLand2020.3/options/other.xml`
Notice the space and version. Search for `go-custom-dir` and change the value

For the problem, are you selecting the folder back to the project's root?

[2021-01-13 06:41] azdanov commented on #49
Yes, all the projects are inside `~/go/src/` and I want to switch to the current one. But it keeps reverting to another project.

[2021-01-13 06:44] azdanov commented on #49
Okay, I solved it by removing this `<property name="go-custom-dir" value="$USER_HOME$/go/src/GoCasts" />` completely from global config file and now it selects proper root per project. No idea how it got stuck there...

Thank you.

[2021-01-13 06:44] #49 closed

[2021-01-14 12:44] bojan-embroker opened #50 "Linter not running bucase it cannot load a package"
Hi,

Linter won't run and Goland logs are showing the following error:

`go-linter - Run error: level=error msg="Running error: context loading failed: failed to load packages: cannot find package \".\" in:\n\t[REDACTED]: failed to analyze"`

It's also showing that it runs the command:

`go-linter - Debug command: cd <Goland project root folder> && ...`

Running that command in command line reprod

[2021-01-14 15:48] xxpxxxxp commented on #50
Hi @bojan-embroker , I may need more information to understand the question, such as
* The plugin panel screenshot
* The full debug command
* Goland project root folder path
* folder I set in Go Linter settings as the root of Go source code

Please do mask sensitive paths, I just need the relative path of `Goland project root folder path` and `folder I set in Go Linter settings as the root of Go s

[2021-01-19 14:14] AdallomRoy opened #51 "Plugin doesn't work in monorepo with multiple folders each with own go.mod"
If you have a folder, let's say "project" with 2 sub-folders (project1, project2) each with its own go.mod, linter doesn't work, as it's trying to run golangci-lint in the root folder instead of in the project1/project2 folder according to the appropriate project.
This causes the following error:

[code]

[2021-01-19 16:08] xxpxxxxp commented on #51
Hi @AdallomRoy , please consider using separate Goland instances to open those 2 sub-projects. As far as I know, Goland itself doesn't work well in such case, unless you have checked 'Index entire GOPATH' option. The option is not recommended to use with go mod, it also blocked go mod integration within Goland.

Also, another workaround is select `Project Root` to 1 of the sub-project in plugin se

[2021-01-19 20:01] AdallomRoy commented on #51
Hi @xxpxxxxp, it's a repo with more than 90 projects, so I can't really open each project by itself.
Fortunately, GoLand does support it quite well, and I have worked with them to improve performance for that use-case.
Also, I'm pretty sure that in one of the previous versions of the plugin it worked quite well.
I don't think it's complicated to add logic that searches for the deepest folder with

[2021-01-20 03:08] xxpxxxxp commented on #51
Yeah, there was a refactoring to support #41 which will break this case. It would be easy to add an option to switch back the old way, if you aren't using the `exclude-rules` in config. Will included in next release.

[2021-01-20 07:55] AdallomRoy commented on #51
Thanks!

[2021-01-27 12:35] therosco opened #52 "Go linter returning error popup"
Goland log:
[code]

The project builds correctly, no real syntax errors in it.

`golangci-lint run -E ifshort` returns
`services/config.go:18:2  ifshort  variable 'err' is only used in the if-statement (services/config.go:19:2); consider using short syntax` on that project (something to test with)

[2021-01-27 15:10] xxpxxxxp commented on #52
Hi @therosco , do you have multiple Go projects under the folder `/Users/<***>/projects/<***>`? Seems `/Users/<***>/projects/services` is an independent Go project, with its own go.mod?

If that's the case, it's dupped with #51. I'm working on an option to support multiple sub-project. ETA in this week.

[2021-01-28 11:29] therosco commented on #52
No, actually I have only one Go project inside /Users/<***>/projects/<***> folder, it's called "api".

Probably a screenshot from Settings would help to understand.
<img width="735" alt="Screenshot 2021-01-28 at 22 25 16" src="https://user-images.githubusercontent.com/5675700/106132581-3ec66c00-61b8-11eb-9360-b0b4cce8b960.png">

[2021-01-28 13:04] xxpxxxxp commented on #52
Thanks @therosco . Does the plugin work for files in folder other than `services`?
Whether running the debug command yield the same output?
If possible, would you create a minimal repro code example for me?

[2021-01-28 20:35] AdallomRoy commented on #51
Thanks for the new version, unfortunately, this is still not working for me.
I see that the command is still running "cd" to the root project directory and not to the project sub directory.
I have unchecked the "Project Root" setting.

[2021-01-29 03:45] xxpxxxxp commented on #51
Sorry, I forgot to change to debug command, actually it's cd to the parent dir of the file.
For example, if the file path is `/root/sources/dev/hugo/hugolib/filesystems/basefs.go`, the plugin will cd to `/root/sources/dev/hugo/hugolib/filesystems` and run `golangci-lint run .` It's the old way month ago, only downside is not honoring `exclude-path` rules in config file.

[2021-01-29 20:30] therosco commented on #52
Surprisingly after the recent plugin update the issue is gone.

Thank you!

[2021-01-29 20:30] #52 closed

[2021-01-29 23:35] therosco opened #53 "com.intellij.diagnostic.PluginException: Created extension classloader is not equal to plugin's one"
com.intellij.diagnostic.PluginException: Created extension classloader is not equal to plugin's one.
See https://github.com/JetBrains/intellij-community/blob/master/platform/core-impl/src/com/intellij/ide/plugins/readme.md
(
  className=com.goide.watchers.GoToolTaskFilterFactory,
  extensionInstanceClassloader=PluginClassLoader(plugin=PluginDescriptor(name=Go, id=org.jetbrains.plugins.go, descript

[2021-01-30 03:07] xxpxxxxp commented on #53
Sorry, what's the context of this thread? Any operation I could repro this exception?

[2021-01-30 16:07] AdallomRoy commented on #51
Not quite sure what I changed in the config, but it started working :-) Thank you!

[2021-01-30 16:38] susuper opened #54 "Sub-projects and GoLand 2020.3.2"
Hello.
I've got the same issue as #51 at GoLand 2020.3.2. Everything works fine at GoLand 2020.2.4, but doesn't work after upgrading to 2020.3.2. Go Linter is 1.4.10 and "Project root" is unchecked.

[2021-01-31 03:30] xxpxxxxp commented on #51
Glad to known that!

[2021-01-31 03:30] #51 closed

[2021-01-31 04:04] xxpxxxxp commented on #54
Checking, seems Intellij Platform changed their way to load plugin, will follow up ASAP.

[2021-01-31 08:35] susuper commented on #54
Looks like "Inspect code" feature is completely broken for multi-modules projects at GoLand 2020.3.2, I've created an issue at JetBrains tracker. Will inform here also about the results.

[2021-01-31 08:43] xxpxxxxp commented on #54
Thanks a lot!

[2021-02-03 06:41] dakyskye commented on #22
Well that's on Linux ![image](https://user-images.githubusercontent.com/32128756/106708471-5c5a6200-660c-11eb-82bd-40d6b9091306.png)

[2021-02-03 06:53] xxpxxxxp commented on #22
Hi @dakyskye , just as the message said, the plugin failed to download the latest `golangci-lint` executable to `/usr/local/bin/`, because of restricted permission. Please manually download & unzip it from `https://github.com/golangci/golangci-lint/releases` (or through apt / yum / pacman of your system), then select the executable path in plugin settings.

[2021-02-03 06:54] dakyskye commented on #22
Yeah, I did that, thanks though. I was just complaining that it can not auto download, because it has chosen wrong directory, where it is not meant to have permissions, so it could possibly be changed.

[2021-02-03 07:06] xxpxxxxp commented on #22
Any suggestion for dest folder?

[2021-02-03 08:02] dakyskye commented on #22
Probably `~/.local/share/bin`, but the plugin could ask the user to actually select what directory they want.

[2021-02-03 12:35] frederikhors opened #55 "What's the logic behind Suggest me! button?"
I'm using your amazing plugin for a few minutes. What I don't understand is what is the logic behind `Suggest me!` button.

I'm on Windows. Does it change on Linux or Mac?

What's the logic?

Thanks for you amazing work!

[2021-02-03 12:36] frederikhors opened #56 "Can we have a button for enabled by default linters?"
Can we have a button for https://golangci-lint.run/usage/linters/#enabled-by-default-linters?

[2021-02-03 13:36] frederikhors opened #57 "Avoid alert for already existing golangci-lint executable"
I already have golangci-lint.exe in my Go bin dir.

Every time I open a new Golang project in Goland it asks me this:

`golangci-lint is custom built: v1.36.0: Download v1.36.0 in browser`

It's already 1.36.0 in my Go bin dir.

Can we fix this?

It would be amazing to get an alert only if new version is available.

Thanks again!

[2021-02-03 16:10] xxpxxxxp commented on #55
Thank you!

`Suggest me!` is simply a set of linters that's not error-prone (eg: scopelint), not too aggressive (eg: exhausive), not covered by GoLand itself (eg: errcheck). It's linters I'm using day-to-day (editor's choice!) and generally I'll fix. It's the same among all platforms.

The button is provided to unfamiliar users of `golangci-lint` as a quick start. Most users will move to their own

[2021-02-03 16:19] xxpxxxxp commented on #57
Hi @frederikhors , would you execute `golangci-lint version --format json`
Normally the output should like `{"version":"1.36.0","commit":"6c25d06","date":"2021-01-26T13:14:05Z"}`

While seems your version is `v1.36.0` instead of `1.36.0`. The plugin is trying to tell you that the `golangci-lint` isn't an official built. From their doc `https://golangci-lint.run/usage/install/#local-installation`,

[2021-02-03 16:27] xxpxxxxp commented on #56
Hi @frederikhors , as mentioned in #55 , default linters are not suited for GoLand.
For example, GoLand has its own inspections like `deadcode, errcheck, unused, varcheck`.
Most users will move to their own `.golangci.yml` config soon, others will find their linters desired, so I would say the usage of such button is very limited.

[2021-02-03 16:27] #56 closed

[2021-02-03 21:17] frederikhors commented on #57
Ok. Can we download it in Go bin dir instead of "`C:\Users\Public`"?

[2021-02-03 21:19] frederikhors commented on #55
Done.

[2021-02-03 21:19] #55 closed

[2021-02-04 03:04] xxpxxxxp commented on #57
Working on it, will popup folder selection before downloading.

[2021-02-04 11:37] frederikhors opened #58 "Is there a way to save this plugin in project `.idea` dir?"
Is there a way to save this plugin in project `.idea` dir?

Like VSCode recommended?

So everyone on the team can install it automagically?

[2021-02-04 12:41] xxpxxxxp commented on #58
That's the `.golangci.yml` config file. Check it in within the project then everyone are using the same linter config.

Other settings like `golangci-lint` executable, project path, I guess team members should be allowed to have their own idea.

[2021-02-06 19:12] frederikhors opened #59 "Suggest to add this to golangci-lint integrations page"
Can we suggest to add this here: https://golangci-lint.run/usage/integrations/?

[2021-02-06 19:14] frederikhors opened #60 "A --fast flag?"
For VSCode [this page](https://golangci-lint.run/usage/integrations/) says:

Is there something for this plugin in Goland?

My Goland _trembles_ every time I inspect the code.

[2021-02-07 04:20] xxpxxxxp commented on #60
There's always a cost to run the linter, I'm trying best to minimize it, while it's inevitable.

`fast` flag only excludes `unused` linter which performs cross-module check, it can be easily set with a config file (https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml)
It's not in suggested linter set, while I can't blame if one really needs it. It's totally up to user's choi

[2021-02-07 04:20] #60 closed

[2021-02-07 04:21] #57 closed

[2021-02-07 04:21] #58 closed

[2021-02-07 04:23] xxpxxxxp commented on #50
Hi @bojan-embroker , haven't heard from you for a couple of days, I'm closing this while please feel free to reopen it if necessary.

[2021-02-07 04:23] #50 closed

[2021-02-07 04:24] xxpxxxxp commented on #54
I've checked the plugin should be working well now with the latest GoLand. Please feel free to reopen this issue if the problem persists.

[2021-02-07 04:24] #54 closed

[2021-02-07 04:25] xxpxxxxp commented on #53
Hi @therosco , I'm hoping the plugin works with you now. I'm closing this while please feel free to reopen it if the exception persists.

[2021-02-07 04:25] #53 closed

[2021-02-09 02:33] xxpxxxxp commented on #59
Merged, should be available in a few days.

[2021-02-09 02:33] #59 closed

[2021-02-09 10:51] frederikhors commented on #57
Is this released?

[2021-02-09 13:05] xxpxxxxp commented on #57
Code ready, will be in next release.

[2021-02-09 16:27] frederikhors commented on #58
I mean something like this https://code.visualstudio.com/docs/editor/extension-gallery#_recommended-extensions.

Is there a way to suggest this plugin in new PCs?

[2021-02-09 16:47] xxpxxxxp commented on #58
Yeah, Intellij has its own alternative: `Settings Repository`
Team members could use a git repo to make sure everyone has exactly the same plugin sets. It could also help syncing UI, code style, etc, between users.

[2021-02-09 17:11] frederikhors commented on #58
It is too complicated compared to VSCode. Too bad.

[2021-02-16 15:56] frederikhors opened #61 "Error QuickFix-es with the same family name (Rename _) should be the same class instances but actually..."
Error:

[code]

Stacktrace:

[code]

[2021-02-18 06:07] xxpxxxxp commented on #61
Releasing a new version to fix this.

[2021-02-21 07:10] sudo-suhas commented on #38
I am facing this issue with the following:

[code]

Go linter version: 1.4.11
GoLand: 2020.3.2, VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.15.7
Non-Bundled Plugins: Key Promoter X, String Manipulation, com.intellij.properties, com.intellij.tasks, com.vecheslav.darculaDarkerTheme, io.protostuff.protostuff-jetbrains-plugin, mobi.hsz.idea.gitignore, com.jetbrains.codeWithMe, name.kropp

[2021-02-22 05:33] xxpxxxxp commented on #61
I'm closing this as it should be fixed in the latest version. Please reopen it otherwise.

[2021-02-22 05:33] #61 closed

[2021-02-23 13:20] xxpxxxxp opened #62 "I am facing this issue with the following:"
I am facing this issue with the following:

[code]

Go linter version: 1.4.11
GoLand: 2020.3.2, VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.15.7
Non-Bundled Plugins: Key Promoter X, String Manipulation, com.intellij.properties, com.intellij.tasks, com.vecheslav.darculaDarkerTheme, io.protostuff.protostuff-jetbrains-plugin, mobi.hsz.idea.gitignore, com.jetbrains.codeWithMe, name.kropp

[2021-02-23 13:30] xxpxxxxp commented on #62
Hi Suhas, created a new issue to track the problem.
I guess the `.golangci.toml` file is used across your team and should not be changed. Otherwise, I'm suggesting remove the `unused` linter, it's quite a slow linter that will freeze IDE significantly. I will continue working on performance improvement.

When the `Go linter running error` happens, please open Goland log (Help - Show log in Finder)

[2021-02-23 14:06] sudo-suhas commented on #62
Thanks for pointing that out @xxpxxxxp, I will be doing that change in our config.

[2021-02-24 08:00] sudo-suhas commented on #62
I was able to see this in the `idea.log` file:

[code]
If I run the debug command, it executes in ~1s and spits out the issues. And a warning is also shown - `Flag --maligned.suggest-new has been deprecated, flag will be removed soon, please, use .golangci.yml config`

Sample issue:

[code]

I have attached the `threadDumps`, hope that will help.
[threadDumps-freeze-20210224-131210-GO-203.7148.71-

[2021-02-24 09:08] xxpxxxxp commented on #62
Thanks, the golangci-lint error explains the IDE freeze
`context loading failed: failed to load packages: timed out to load packages: context deadline exceeded"
level=error msg="Timeout exceeded: try increasing it by passing --timeout option`

Would you run command under directory `/path/to/project`:
`time /path/to/project/bin/golangci-lint run --out-format json --allow-parallel-runners -j 3 --max

[2021-02-26 12:23] pztrn opened #63 "Something is wrong when run linter on "Whole project" inspection scope"
In my case it leads to showing no linting errors while actually there are some and will be shown if I try to start golangci-lint on specific file or if I start binary itself in terminal for whole project.

Unfortunately I cannot share code on which it occurs but I suspect any more-or-less big project with several packages can lead to that behavior.

[2021-02-27 02:59] xxpxxxxp commented on #63
Hi @pztrn , if I'm understanding correctly, you are trying to run `Analyze - Inspect Code - Whole project`?
If that's the case, it's normal as the plugin is designed to run per file. Open a go file then related issues will be highlighted inline.

[2021-02-27 12:50] sudo-suhas commented on #62
The amount of time taken is significantly lower once the cache is built up:
[code]

[2021-02-28 03:20] xxpxxxxp commented on #62
Yes, it is `golangci-lint` own behavior, once the type information is cached, subsequence calls will be much faster. So I guess the IDE freeze is somewhat relieved?

[2021-02-28 04:41] sudo-suhas commented on #62
The IDE still freezes if I try to edit the file immediately after saving it(edit -> save -> edit).

[2021-03-01 11:22] xxpxxxxp commented on #62
That's the exact moment the plugin is running inspection. I'm working on minimizing the IDE freeze, while I guess it cannot totally get rid of.

[2021-03-15 20:38] mwittig opened #64 "How to read .golangci.yml from a location other than PROJECT_ROOT"
I have read issues #43 & #41 and as far as I understand this, the file `.golangci.yml` must be located in `PROJECT_ROOT`. I am wondering whether or not it is possible though to read `.golangci.yml` from a different location other than `PROJECT_ROOT`. If not, I'd like to raise this as a feature request.

Usage scenario: We have multiple go projects under git version control for which we would like

[2021-03-16 07:56] xxpxxxxp commented on #64
I would gladly implement the feature. A few questions for helping me design the functionality and configuration UI:
* How are you doing CI for those projects? By specifying the config path?
* Would an alternative way, such as if any `.golangci.yml` under home path found will be used, help to resolve your scenario?

[2021-03-16 17:55] mwittig commented on #64
@xxpxxxxp thanks for the swift reply

Yes, we use Gitlab CI/CD. At the QA stage a docker build is performed which runs `golangci-lint -c ./go-linting/.golangci.yml run ./...` on the project root where `go-lint` is a git submodule.

If it is required to have `.golangci.yml` located directly in `$HOME` this will not help. Any `.golangci.yml` found in subdirectories below `$HOME` may do, however, I a

[2021-03-17 02:03] xxpxxxxp commented on #64
Got you, I'm considering adding a config file override option, ETA in 2 weeks.

[2021-03-23 07:24] halleyshx opened #65 "Get Latest - Failed to Get latest release"
I can't get latest after installed, some error like this:
![image](https://user-images.githubusercontent.com/24284940/112108866-c3979a00-8beb-11eb-9517-827876218a0a.png)
null can not be cast to non-null type java.lang.String

[2021-03-23 07:47] xxpxxxxp commented on #65
Hi @halleyshx , could I have your platform (Linux / Mac / Win, x64 / x86)? Also, does the issue repro every time?

[2021-03-23 15:50] halleyshx commented on #65
@xxpxxxxp  my  platform is Mac x64(os version: 10.15.7);  the issue repro every time.

[2021-03-24 02:45] xxpxxxxp commented on #65
Thanks, a few more questions to help me locate the problem:
* Please try `curl -L https://github.com/golangci/golangci-lint/releases/download/v1.38.0/golangci-lint-1.38.0-darwin-amd64.tar.gz -o golangci-lint-1.38.0-darwin-amd64.tar.gz` in terminal, to make sure it's not a network issue
* Have you seen any progress indicator after clicking the `Get Latest` button? If there is, what's the last messa

[2021-03-29 15:37] xxpxxxxp commented on #64
Publishing support for custom config file, pending JetBrains approval, expected available in one day.

[2021-03-31 04:33] xxpxxxxp commented on #62
Refactoring to boost performance, ETA in 2 weeks.

[2021-04-15 03:06] xxpxxxxp commented on #64
The latest release should resolve this issue, I'm closing it. Feel feel to reopen it if necessary.

[2021-04-15 03:06] #64 closed

[2021-04-16 09:27] mwittig commented on #64
Sorry, for the delay in reply. I have tested the new version and I just wanted to confirm it works as expected. Thank you very much for covering this!

There are two points I'd like to point out which may be useful for future matters on the topic:
- When I started testing the new version the "with config" button did not show up in the preferences as I expected. The reason was that we copied the ym

[2021-04-16 15:40] brakthehack opened #66 "Plugin is basically unusable on 2021.1"
When typing, the plugin frequently hangs the UI for roughly half a second. This happens frequently enough (every few characters or so) that the UI freezes repeatedly and it's not possible to be productive at all.

When disabling the plugin, the UI and keystrokes become responsive again.

See my config below:
![Screen Shot 2021-04-16 at 10 36 36 AM](https://user-images.githubusercontent.com/2353650

[2021-04-17 10:46] xxpxxxxp commented on #66
Hi @brakthehack , I'm working on refactoring to boost perf, ETA release in 1 week.

[2021-04-17 10:46] xxpxxxxp commented on #62
Using #66 to tracking the perf issue.

[2021-04-17 10:46] #62 closed

[2021-04-22 15:33] dmitry-ee commented on #66
+1 to this issue

[2021-04-22 15:41] xxpxxxxp commented on #66
@brakthehack @dmitry-ee  Releasing fix tomorrow.

[2021-04-25 03:05] xxpxxxxp commented on #66
Hi @brakthehack @dmitry-ee , I hope the hangs are somewhat relieved in the latest release, any feedback appreciated, thanks.

[2021-04-26 15:03] tehsphinx opened #67 "Version 1.5.0: No more warnings in Goland"
It seems the latest version has broken the plugin.

There is no more option to enable or disable the warnings in the`Inspections`:

![image](https://user-images.githubusercontent.com/6624571/116104746-faf8db00-a6b0-11eb-8382-3e7faca09005.png)

Linter warnings are not highlighted in the code any more:

![image](https://user-images.githubusercontent.com/6624571/116104997-33001e00-a6b1-11eb-9ed9-5c5d

[2021-04-26 15:05] tehsphinx commented on #67
@SoenkeP83: FYI

[2021-04-26 15:11] tehsphinx commented on #67
My GoLand version (we have the same problem on a Windows machine):

GoLand 2021.1.1
Build #GO-211.7142.13, built on April 21, 2021
Runtime version: 11.0.10+9-b1341.41 x86_64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
macOS 11.2.3

[2021-04-26 15:44] xxpxxxxp commented on #67
Hi @tehsphinx , the plugin is refactored from an `Inspection` to an `ExternalAnnotator`, for performance improvements. It will no longer freeze UI during typing. Functionality remains the same. So there's no entry point in `Inspections`, and I believe IDEA currently doesn't have an entry point for `Annotator`, and I'm working on adding `Intentions` so you can enable/disable them there.

For the hi

[2021-04-27 14:40] mehmet-ozgul opened #68 "Plugin fails with generic error: "Please make sure there's no syntax error...""
The plugin fails with a generic error `Please make sure there's no syntax error, then check if any config error`. The logs show that the command does not have a file name. When the same command is invoked from the command line with a go file, the command works.

Build version: GoLand 2021.1 Build #GO-211.6693.119 April 6, 2021
Java version: 11.0.10+9-b1341.35x86_64
Operating System: Mac OS X (11.3

[2021-04-27 15:24] xxpxxxxp commented on #68
Hi @mehmet-ozgul , Can I have a screenshot of the setting page? That would help me understand the problem, thanks.

[2021-04-27 16:07] mehmet-ozgul commented on #68
Here it is, I redacted the golangci-lint executable path and the project path. Both exist and reachable.
![image](https://user-images.githubusercontent.com/68401982/116274766-f4ba3b80-a750-11eb-8df3-e202fc7f7bce.png)

[2021-04-28 02:05] xxpxxxxp commented on #68
Thanks, I got it. I guess the problem exists on go files directly under the project root, right? Does sub-folders work fine?

I'll fix it ASAP.

[2021-04-28 13:02] mehmet-ozgul commented on #68
Yes, I just verified, go files under subfolders work fine. Thanks!

[2021-04-29 05:43] xxpxxxxp commented on #67
Hi @tehsphinx , would you check if this is the same case as #68 , thanks.

[2021-05-02 09:28] tehsphinx commented on #67
Hi @xxpxxxxp! Sorry for the wait time.

1) There seems to be a problem with multiple "Content Roots" in "Project Structure". In the main project I see the linter warnings. In other projects I don't get any intention or highlighting of the linter warnings.

2) What we are missing on Windows is a way to go through all the linter warnings in an entire project. That was possible before with the `Inspe

[2021-05-03 07:07] xxpxxxxp commented on #67
Thanks for reply. For the 1st problem, please uncheck `Project Root` in setting panel then give a try. For the 2rd, I think it's a fair use case, I'll impl an inspection, trigger manually instead of on-the-fly to support it.

[2021-05-06 03:37] xxpxxxxp commented on #63
Hi @pztrn , haven't heard from you for a long time, I'll close the issue, feel free to reopen it if necessary.

[2021-05-06 03:37] #63 closed

[2021-05-06 03:37] xxpxxxxp commented on #65
Hi @halleyshx , haven't heard from you for a long time, I'll close the issue, feel free to reopen it if necessary.

[2021-05-06 03:37] #65 closed

[2021-05-06 03:38] xxpxxxxp commented on #66
Hi @brakthehack , I hope everything is going well on your side, I'm closing this issue now, please feel free to reopen it if perf is still unacceptable.

[2021-05-06 03:38] #66 closed

[2021-05-06 19:15] susuper commented on #67
Hello. Implementing the "Inspection" functionality will be highly appreciated, it is not possible now to get the full list of warnings at one place. Thank you for your amazing work!

[2021-05-07 11:43] tehsphinx commented on #67
Ok that solved the 1st problem. Thx!

[2021-05-08 17:00] frederikhors commented on #67
@xxpxxxxp also I am here to have a list of all the problems with "Inspection code".

And I agree that it used to freeze everything and now it doesn't (VERY HAPPY FOR THAT!) but a list of all the problems - manually triggered - is 100% NECESSARY!

Thanks for your wonderful work!

[2021-05-09 02:43] xxpxxxxp commented on #67
Thanks for your opinions, a new version is released to address the problem, pending approval in 2 days.

[2021-05-11 06:09] xxpxxxxp commented on #68
Hi @mehmet-ozgul , the problem should be resolved in the latest release, please help to confirm, thanks.

[2021-05-11 06:10] xxpxxxxp commented on #67
Hi guys, the problem should be resolved in the latest release, please help to confirm, thanks.

[2021-05-11 07:32] susuper commented on #67
Cool, it works, thank you!

[2021-05-20 14:22] Fardinak commented on #68
I was using v1.5.1 and still getting this error. But `golangci-lint` was out of date (v1.39.0) and upgrading it to v1.40.1 seems to have fixed the issue.

[2021-05-29 11:08] kopaygorodsky opened #69 "Goland reports a fatal error"
GoLand 2021.1.2
Build #GO-211.7442.27, built on May 25, 2021

Runtime version: 11.0.11+9-b1341.57 x86_64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
macOS 11.4
GC: ParNew, ConcurrentMarkSweep
Memory: 989M
Cores: 12
Registry: ide.completion.variant.limit=500, suggest.all.run.configurations.from.context=true
Non-Bundled Plugins: com.intellij.properties (211.6693.44), net.seesharp

[2021-05-29 16:49] xxpxxxxp commented on #69
Hi @kopaygorodsky , any steps could I repro the issue? Does this fatal error show up at Goland startup, or thru any configurations? I'm seeing watchers, does this occur when you trying to add a File Watcher?

[2021-05-29 21:06] kopaygorodsky commented on #69
It was appearing randomly, but I'll try to keep records of it and update this PR once I have more info. Thanks.

[2021-05-31 03:26] xxpxxxxp commented on #69
Thanks. Does the linter still work?

[2021-06-02 19:56] piot commented on #69
This might be related?
[code]

[2021-06-02 22:29] kopaygorodsky commented on #69
@piot I saw this one too

[2021-06-03 16:40] xxpxxxxp commented on #68
Thanks guys, closing the issue now.

[2021-06-03 16:40] #68 closed

[2021-06-08 03:05] xxpxxxxp commented on #69
Hi @kopaygorodsky @piot , the latest version should resolved this issue, please help to check, thanks.

[2021-06-13 12:20] songkane opened #70 "Please make sure there's no syntax error, then check if any config error"
The log always shows as below
![image](https://user-images.githubusercontent.com/15307785/121806817-fe0d5200-cc83-11eb-9476-6cccebe67593.png)
![image](https://user-images.githubusercontent.com/15307785/121806866-390f8580-cc84-11eb-9ee2-0067ed304698.png)
![image](https://user-images.githubusercontent.com/15307785/121806886-4a589200-cc84-11eb-97f5-682ef99189ea.png)

It speed a lot time but I can't f

[2021-06-14 05:55] xxpxxxxp commented on #70
Hi @songkane , please search for errors in goland log, you can find log via `Help` - `Show Log in XXX`
Search with word `go-linter`. There's more detailed debug infos around `Please make sure there's no syntax error, then check if any config error`, please attach the debug infos for further analysis.

[2021-06-14 11:33] songkane commented on #70
![image](https://user-images.githubusercontent.com/15307785/121885160-66bd0300-cd46-11eb-8f6c-1e6027404638.png)
There are some errors I found
I fixed error : dial tcp 172.217.161.177:443: i/o timeout
But still have errors like ：
Can't run linter goanalysis_metalinter: S1004
Can't run linter goanalysis_metalinter: S1016

And now, there is some highlight in some go files. But in some files, there ar

[2021-06-14 16:20] xxpxxxxp commented on #70
Hi @songkane , could your project build successfully? From the errors, it seems there's package load issue, please run `go build` to verify packages valid.

[2021-06-15 11:49] songkane commented on #70
Run go build is successful with no syntax error.  I checked the error files using golingci-lint run, it dose have some warnings, but Goland dose not highlight

[2021-06-16 17:26] K4L1Ma commented on #70
![image](https://user-images.githubusercontent.com/6510147/122265110-a582c280-ced8-11eb-850c-9140064a4599.png)

In my case, changing back to go 1.15 made the error disappear completely

[2021-06-17 01:44] xxpxxxxp commented on #70
Hi @songkane , please try execute the `Debug command` in terminal and see if there are errors. I bet it's a GOPATH issue.

[2021-06-17 02:53] songkane commented on #70
There are some logs shows
`
2021-06-17 10:44:54,724 [349728814]   WARN -                      go-linter - Run error: level=warning msg="[runner] Can't run linter goanalysis_metalinter: S1000: failed prerequisites: [(inspect@git.xxxx.com/xxxx/workload, isgenerated@git.xxx.com/xxxx/workload): analysis skipped: errors in package: [/xxxx/workload/hpa.go:515:6: oldHPAReplicas declared but not used /xxx

[2021-06-17 03:29] songkane commented on #70
My project still use go 1.14 because of some package depend

[2021-06-18 12:59] songkane commented on #70
It is very weird. This file have no error. I fix some lint warning. Then plugin become working with no error

[2021-06-20 07:32] xxpxxxxp commented on #70
Sorry for late reply, usually the plugin works well when the project could built. Please feel free to reopen this issue if it repros later.

[2021-06-20 07:32] #70 closed

[2021-06-23 00:20] jaisingh opened #71 "Go Linter does not work with WSL"
I get a go linter running error when using files access from WSL2 over the network share it exposes. The tool works fine for go projects on the windows filesystem.

[2021-06-23 02:45] xxpxxxxp commented on #71
Thanks @jaisingh , I guess it's a path issue, will setup a WSL2 env ASAP to test it, might take a few days.

[2021-07-01 06:11] anantdunzo opened #72 "Goland reports an error"
GoLand 2021.1
Build #GO-211.6693.119, built on April 7, 2021
Runtime version: 11.0.10+9-b1341.35 x86_64
VM: Dynamic Code Evolution 64-Bit Server VM by JetBrains s.r.o.
macOS 11.4
GC: G1 Young Generation, G1 Old Generation
Memory: 750M
Cores: 12
Registry: ide.completion.variant.limit=500, ide.tree.collapse.recursively=false, suggest.all.run.configurations.from.context=true
Non-Bundled Plugins: com.

[2021-07-01 06:32] xxpxxxxp commented on #72
Hi @anantdunzo , please update the plugin if possible, the latest version should be 1.5.2, the issue would be resolved.

[2021-07-01 06:36] anantdunzo commented on #72
Thanks @xxpxxxxp, just saw your comment on the other issue.
version 1.5.2 seems to have resolved the issue. Thanks a ton.

[2021-07-01 06:36] #72 closed

[2021-07-01 16:52] xxpxxxxp commented on #69
Closing the issue as it should be resolved, feel free to reopen if necessary.

[2021-07-01 16:52] #69 closed

[2021-07-02 09:15] kopaygorodsky commented on #69
I can confirm it was resolved

[2021-07-02 10:09] xxpxxxxp commented on #69
Thanks for confirming.

[2021-07-05 13:49] xxpxxxxp commented on #71
Hi @jaisingh , I've done deep research, but sadly the plugin is not able to support WSL2 UNC path. It's actually limited by the go binary, related issues: https://github.com/golang/go/issues/37461 https://github.com/microsoft/WSL/issues/5762

In short, WSL2 is using 9P protocol to support file share between Linux and the host Windows. Problem is the 9P protocol doesn't support `LockFileEx` syscall

[2021-07-05 13:49] #71 closed

[2021-07-10 11:29] garty09 opened #73 "Please add support for aarch_64 (M1, ARM64)"
<img width="426" alt="Снимок экрана 2021-07-10 в 14 24 14" src="https://user-images.githubusercontent.com/77111406/125161433-0bd2cc00-e18b-11eb-8d53-fa63df0d998e.png">

[2021-07-11 09:17] xxpxxxxp commented on #73
Thanks @garty09 , will do soon.

[2021-07-13 22:14] #73 closed

[2021-07-14 03:41] xxpxxxxp commented on #73
Thanks for confirming.

[2021-07-14 16:33] YZerui opened #74 "Go linter running error"
I can see only "Go linter running error, please make sure there's no syntax error, then check for any config error"，how can I do ？
![image](https://user-images.githubusercontent.com/10001503/125658932-fe0c3b9e-8d0a-441b-af0d-489df7fdc80f.png)

[2021-07-14 17:36] #74 closed

[2021-07-15 01:10] xxpxxxxp commented on #74
Hi @YZerui , I hope your problem resolved. If any help needed please feel free to reopen this issue.

[2021-07-16 14:34] y0rker opened #75 "Error plugin: Please make sure there's no syntax error, then check if any config error"
Hello! plugin doesn't work :(
My settings:
![image](https://user-images.githubusercontent.com/5592102/125964008-bba379f0-a6d4-4932-84b5-b7ebe3c1b1db.png)

And my golang ide version
![version](https://user-images.githubusercontent.com/5592102/125963600-219186b3-9c82-4fd2-b9cb-6af9332b807d.png)
Some debug message
`WARN -                      go-linter - Run error: level=error msg="Running error: con

[2021-07-16 14:40] y0rker commented on #74
@YZerui how u resolve problem?

[2021-07-17 03:47] xxpxxxxp commented on #75
Hi @y0rker , please check your GOPATH setting inside Goland as below:

![image](https://user-images.githubusercontent.com/1585918/126024434-ebb862a8-4e2d-44b2-84e1-f6d479f17b94.png)

Please make sure at least 1 of Global or Project GOPATH exists, then try the plugin again.

[2021-07-19 12:20] y0rker commented on #75
I'll check it out at work tomorrow. Thanks!

[2021-07-20 07:42] y0rker commented on #75
In my case all okey.
![image](https://user-images.githubusercontent.com/5592102/126281633-4a793483-69e8-4700-bb7d-0e64dbc5542e.png)
This is right path

[2021-07-20 07:49] xxpxxxxp commented on #75
Got it, so I guess you are using Linux? Let me test it later today.
Also, if the project you're working on is open-sourced, please share the git link, would be easier to debug with.

[2021-07-20 08:33] y0rker commented on #75
Yes, Mint
![image](https://user-images.githubusercontent.com/5592102/126288741-9eab7dd4-0877-4507-a58c-aee696e4d823.png)
Sry, it is not open source and i cant share :(

[2021-07-20 13:14] xxpxxxxp commented on #75
OK, so I've made a Linux Mint VM with Go 1.16, testing against https://github.com/gohugoio/hugo , the plugin works fine.
Would you please check Goland log again, see if GOPATH is still missing now?
I'm suspecting it's not a GOPATH issue. Does the `GOROOT` setting matches the go executable in terminal?

![image](https://user-images.githubusercontent.com/1585918/126328852-9073ed6d-664c-4493-840c-774

[2021-07-21 08:55] y0rker commented on #75
My goroot
![image](https://user-images.githubusercontent.com/5592102/126460578-0446ba87-7007-47e9-a161-0b7c23608ac7.png)
Maybe its bad permissions for golang ide?

. Please make sure the project has no syntax error.
2021-07-21 11:51:09,570 [436551702]   WARN -                      go-linter - Debug command: cd /home/xxx/go/src/ads-adapters/ads-adapter-facebook && export PATH=/usr/local/sbin:/usr/l

[2021-07-21 09:37] xxpxxxxp commented on #75
I see `GOPATH` is correct this time. Please execute the debug command in terminal, see if the same error shows.

1 more thing to be noted is that there are a lot paths in `PATH`. You might have different versions of `go` executable under those different paths. The actual `go` been used might be the one under `/usr/local/sbin` instead of `/snap/go/current/bin`, some of them could work while some do

[2021-07-21 09:43] y0rker commented on #75
i found error.
if i call

then error. But if i move

to start of PATH= like that

magic!
how can i fix it?

[2021-07-21 09:53] xxpxxxxp commented on #75
Great! I think it is a real bug for me, as `GOROOT` set in IDE should always take precedence, I'll fix that soon.
For a workaround, you may reorder your system `PATH`, in `.bashrc` etc.

[2021-07-25 08:05] cyberhck opened #76 "question: can this plugin be sped up?"
currently if I use a file watcher to use linting, it does extremely quick because it lints the current open file, with this plugin however the results are extremely slow, probably because it scans the whole thing (and doesn't seem to use cache maybe?)

and sometimes it doesn't even show the issues.

Any configuration we can do to optimize this plugin?

[2021-07-26 02:39] kruftik opened #77 "com.intellij.diagnostic.PluginException: Cannot create extension (class=com.ypwang.plugin.watchers.GoFumptTaskConsumer)"
GoLand 2021.2 RC
Build #GO-212.4746.57, built on July 21, 2021
Runtime version: 11.0.11+9-b1504.13 aarch64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 11.5
GC: ParNew, ConcurrentMarkSweep
Memory: 4029M
Cores: 8
Registry: suggest.all.run.configurations.from.context=true, ide.completion.variant.limit=500, go.run.processes.with.pty=false
Non-Bundled Plugins: YAML/Ansible support (0.11.2),

[2021-07-26 03:25] xxpxxxxp commented on #76
Hi @cyberhck , some answers to your questions:
* The plugin is scanning at folder level. For a given file it lints the file's parent folder.
* It does have cache. Until change is made in the folder, open any other file in the same folder will see lints very fast.
* In case of suspecting the plugin not working, please open IDE log (`Help` - `Show Log in Finder`) and see if any error happens.
* Caus

[2021-07-26 13:46] xxpxxxxp commented on #77
Thanks, seems latest RC builds mde strict restrictions on classloader, as so far those 2 file watchers are barely used, I'll remove them soon.

[2021-07-28 01:31] NSObjects opened #78 "no go files to analyze"
GoLand 2021.1.3
Build #GO-211.7442.57, built on June 9, 2021

golangci-lint has version v1.41.1

Go Linter 1.5.3

![image](https://user-images.githubusercontent.com/17995427/127249180-113e7722-6434-4590-bc90-d6394987c6bc.png)

![image](https://user-images.githubusercontent.com/17995427/127249145-59f6f32b-ac98-49aa-a911-1280c1a159af.png)

[2021-07-28 07:43] xxpxxxxp commented on #78
Hi @NSObjects , I'm afraid I didn't understand your question, those 2 screenshots don't seem related to the plugin? The plugin does not output anything, it does lint in editor.

And BTW the problem of the first screenshot is that the current running dir should be at
`/Users/mac/Documents/Code/Go/mxtio/jsm_live`

[2021-07-30 02:18] andy5920 opened #79 "Cannot create extension GoLand 2021.2"
com.intellij.diagnostic.PluginException: Cannot create extension (class=com.ypwang.plugin.watchers.GoFumptTaskConsumer) [Plugin: com.ypwang.plugin.go-linter]
	at com.intellij.serviceContainer.ComponentManagerImpl.createError(ComponentManagerImpl.kt:932)
	at com.intellij.openapi.extensions.impl.XmlExtensionAdapter.createInstance(XmlExtensionAdapter.java:88)
	at com.intellij.openapi.extensions.impl.

[2021-07-30 02:44] xxpxxxxp commented on #79
A new version is releasing to address this issue.

[2021-07-30 04:48] cyberhck commented on #76
thanks for the info :slightly_smiling_face:

[2021-07-30 04:48] #76 closed

[2021-07-30 08:56] y0rker commented on #75
Now working fine! Thanks!

[2021-07-30 08:56] #75 closed

[2021-07-30 08:57] xxpxxxxp commented on #75
Thanks for confirming.

[2021-08-02 00:21] sleyland commented on #78
I am also receiving this error, even after the latest plugin updates (running v1.5.4). This is the error output in the GoLand log file (NOTE: I've removed my username from the path and replaced with `<user>`):

[code]

I am referencing a `golangci-lint.yaml` configuration file, however, removing that file as a configuration and replacing with the same selected linters also results in the same erro

[2021-08-02 04:02] megaes opened #80 "Please make sure there's no syntax error, then check if any config error"
Doesnt work on M1
[code]

![Screenshot 2021-08-02 at 06 59 48](https://user-images.githubusercontent.com/7003847/127802755-c8173a06-1150-40ea-ae39-a1c65e582edd.png)
![Screenshot 2021-08-02 at 07 00 27](https://user-images.githubusercontent.com/7003847/127802760-ea7f0c15-38ab-4959-8520-fa92bea26ae4.png)
![Screenshot 2021-08-02 at 07 00 38](https://user-images.githubusercontent.com/7003847/127802769

[2021-08-02 13:43] bobstrecansky commented on #80
I'm facing this same issue on an intel Mac on Catalina.

[2021-08-02 15:41] xxpxxxxp commented on #78
Hi @sleyland , from the `Debug command` in the log, it seems there's no `GOPATH` set in IDE
[code]

Please check your settings
![image](https://user-images.githubusercontent.com/1585918/127887916-7b14fd0d-5aea-4fa6-a46d-58905c3aabb3.png)

[2021-08-02 15:57] xxpxxxxp commented on #80
Hi @megaes @bobstrecansky , currently the plugin is designed to work with package managed go projects, like `go mod` or legacy `go vendor`, it's true it doesn't work with single file project. I'm working on ways to be compatible with both of those projects.

A simple way to make the plugin work:
[code]
Then the plugin would work happily.

[2021-08-02 21:25] sleyland commented on #78
Hi @xxpxxxxp

I've rechecked the IDE settings and there is a globally configured `GOPATH`. See attached screenshot

<img width="995" alt="Screen Shot 2021-08-03 at 7 22 52 am" src="https://user-images.githubusercontent.com/23440051/127925773-050d2052-be40-41bb-88fc-32fd2dcd21a1.png">

[2021-08-03 10:04] megaes commented on #80
You are right @xxpxxxxp, thank you.

[2021-08-03 10:04] #80 closed

[2021-08-03 13:44] xxpxxxxp commented on #77
Track with #79, closing this one.

[2021-08-03 13:44] #77 closed

[2021-08-03 15:58] xxpxxxxp commented on #78
Thanks @sleyland for quick reply, would you try following commands in your terminal, with `GOPATH` already set to see if the command works
[code]

[2021-08-03 20:57] sleyland commented on #78
Hi @xxpxxxxp,

Testing the command as you provided does work and provides prints a JSON style output to the terminal of all of the "issues" within the code. I did also get a warning with the output, but that seems more related to the linting configuration that is used in our projects.

[code]

Thus, since the command works in the terminal with the `$GOPATH` already defined, then I'm assuming that

[2021-08-04 16:31] xxpxxxxp commented on #78
Hi @sleyland , seems the problem is the plugin failed to get `GOPATH` defined in IDE, a quick workaround would be add a `Project GOPATH`, let me review codes find out root cause.

[2021-08-08 22:02] sleyland commented on #78
Hi @xxpxxxxp ,

Apologies for not getting back to you sooner, but I've just added the appropriate `Project GOPATH` and it still causes the plugin to fail. I have also tried copying and pasting that command into the terminal and it produces the same result.

[code]

This is the command which is logged by Goland/IntelliJ

[code]

Admittedly I've tried this in a different repository to the one I orig

[2021-08-09 14:44] xxpxxxxp commented on #79
Should be resolved in the latest release. Please feel free to reopen if the issue still persists.

[2021-08-09 14:44] #79 closed

[2021-08-09 15:20] xxpxxxxp commented on #78
Hi @sleyland , that was surprising, the plugin is running the exact command inside. I guess there are some env variable differences between the IDE and the terminal. Please run the exact commands in the IDE terminal (`View` - `Tool Windows` - `Terminal`) see if it works for the IDE env.

[2021-08-09 21:30] sleyland commented on #78
Hi @xxpxxxxp ,

The command also works inside the `terminal` within Goland/IntelliJ. The process I went through was:

- opened a `.go` file in the editor
- checked the `event log` to see that there was a configuration error with the plugin (there was)
- opened the `idea.log` to grab the command that was executed
- copy/paste the command from the `idea.log` into a `terminal` within Goland/IntelliJ

[2021-08-10 15:13] xxpxxxxp commented on #78
Hi @sleyland , I'm trying to reproduce the issue you are facing, since you are working on a non-open-source project, any chance you can try the plugin with an open-source project, eg: https://github.com/gin-gonic/gin codebase is smaller enough to clone and build in minutes, see if the plugin works.

[2021-08-10 21:03] sleyland commented on #78
Hi @xxpxxxxp ,

Seemingly everything is working fine with that project in Goland/IntelliJ. I can see various highlighted warnings inside the code editor when using "my" linting configuration. I also checked the `ide.log` and couldn't see any issues being reported by the tool.

Thanks for looking into this, and apologies that the code I'm working on isn't open-source (making life difficult)

[2021-08-11 01:36] #78 closed

[2021-08-11 05:55] xxpxxxxp opened #81 "no go files to analyze"
Hi @xxpxxxxp ,

Seemingly everything is working fine with that project in Goland/IntelliJ. I can see various highlighted warnings inside the code editor when using "my" linting configuration. I also checked the `ide.log` and couldn't see any issues being reported by the tool.

Thanks for looking into this, and apologies that the code I'm working on isn't open-source (making life difficult)

_Origi

[2021-08-11 05:57] xxpxxxxp commented on #81
@sleyland

[2021-08-11 07:14] SimpleFelix opened #82 "Default .golangci.yaml ?"
How can I export a .golangci.yaml from "Tools"-"Go Linter" after having checked and unchecked a few linters?
Where is the default configuration file?

[2021-08-11 07:16] SimpleFelix commented on #82
I'm using GoLand 2021.2 on Win10 by the way.

[2021-08-11 07:19] xxpxxxxp commented on #82
For linters selected inside IDE, the plugin does not use a configuration file. Thus, no way to export a config file, sorry for that.
Meanwhile it's quite easy to work out such a config file all by yourself, checkout https://golangci-lint.run/usage/configuration/#config-file

[2021-08-11 07:24] xxpxxxxp commented on #81
Hi @sleyland , I'm having a picture of what happened. I guess you are not using `go mod` to manage project dependency, it's a Goland base project, is that right?

[2021-08-11 07:28] SimpleFelix commented on #82
Thanks for the answering.
I still think it will be cool if you add an Export button inside IDE though.

[2021-08-11 07:28] #82 closed

[2021-08-11 09:14] unbreakab1e opened #83 "Liniting doesn't work in a multiplatform project"
Hi! So far, I've had zero success setting up this plugin with a project which contains both Darwin and Linux - specific source files.

As of now, such a scenario is poorly supported in GoLand (https://youtrack.jetbrains.com/issue/GO-1736), so I'm frequently switching OS in the editor here:

<img width="796" alt="image" src="https://user-images.githubusercontent.com/1746058/128894494-a72bfcec-d655-

[2021-08-11 14:27] Naist4869 opened #84 "some folder no more warnings in Goland 2021.2"
# 大佬你好
go-linter 解决了冻结ide问题后非常好用 但是我的电脑上可能由于配置环境出现了部分情况不工作的问题

## 探索发现
- 在项目中有些文件夹没有警告
![image](https://user-images.githubusercontent.com/37408934/129042677-97050e06-aa9b-445b-bf1c-3609219a7de7.png)
![image](https://user-images.githubusercontent.com/37408934/129042756-835dd92d-baba-49a8-9701-124fb940a7e3.png)
- 在同一个项目中有些文件夹有警告
![image](https://user-images.githubusercontent.com/37408934/129042986-8

[2021-08-11 21:10] sleyland commented on #81
Hi @xxpxxxxp ,

The project that I mentioned the original issue with is configured to use `dep` which we know is _deprecated_ in favour of `go mod`, so are in the process of moving it over, but that hasn't happened yet.

I have done a test in some of our other repos which do you `go mod` and I can confirm that the plugin works. **Only** if I update the `GOPATH` setting in the IDE to have a `Projec

[2021-08-12 02:43] xxpxxxxp commented on #81
Thank you, I guess that's the cause, the plugin doesn't work with `dep` now. Let me found a workaround in a few weeks.

[2021-08-12 02:43] #81 closed

[2021-08-12 02:46] xxpxxxxp commented on #84
感谢，对于那些没有报错误的文件，试一下 `Code` - `Inspect Code` - Scope选到 `File`，看看能不能正常出lint。Plugin不使用IDE缓存，清理缓存没什么用。

[2021-08-12 07:56] Naist4869 commented on #84
噢噢 之前看有人这样做搞定了  [#42](https://github.com/xxpxxxxp/intellij-plugin-golangci-lint/issues/42)

- 使用新方法之后,没什么反应,这两个文件ci都报了很多
![image](https://user-images.githubusercontent.com/37408934/129159685-37257c70-44d8-49d5-8217-c1ae97a133b2.png)
![image](https://user-images.githubusercontent.com/37408934/129159290-7ad48b51-bdb6-4337-ba78-ceab232fb04b.png)

[2021-08-13 07:35] xxpxxxxp commented on #83
Trying to repro the issue.

[2021-08-13 07:37] xxpxxxxp commented on #84
感谢，从目前的信息上我难以重现这个问题，能不能摘取一些非机密的code独立成一个能复现的go mod project给我看看？

[2021-08-14 07:01] Naist4869 commented on #84
当然可以 [go-linter-84](https://github.com/Naist4869/go-linter-84) .idea文件夹也push上去了

[2021-08-16 15:52] xxpxxxxp commented on #84
发现问题是code中的中文，比如这种 string `"目标服务器什么都没返回"`，golangci-lint返回的结果乱码导致json解析失败，看起来是编码的问题，我看看怎么修一下

[2021-08-17 11:23] Naist4869 commented on #84
果然 按照命令行先把带中文的修复了 ide就有警告出现了 这问题只出现在windows上  同事的mac没有这问题
感谢大佬 项目也不贴个二维码 想请大佬喝茶

[2021-08-17 13:14] xxpxxxxp commented on #84
看起来是`golangci-lint`在windows上读入文件时候encoding就错了，我看看code给他们提个PR吧

[2021-08-17 13:17] xxpxxxxp commented on #84
感谢使用，这周内准备发一版修好这个问题。

[2021-08-17 16:35] xxpxxxxp commented on #83
Hi @unbreakab1e , I'm not able to repro the issue till now, any chance you can share with me a few non-confidential example code files producing the bug?

[2021-08-18 11:56] khadmitriy opened #85 "no warning's in project"
Hello. After reinstalling ubuntu on 21.04 and golang on 1.17 - go lint stopped working.
I do not understand why, I did everything as in the manual, but it does not help

My go env
![image](https://user-images.githubusercontent.com/89138095/129893825-2ebc0f22-5bee-427e-b354-ffe4b27ac8ff.png)

I have go.mod file
![image](https://user-images.githubusercontent.com/89138095/129892498-7933461e-e517-4cd3

[2021-08-18 16:13] xxpxxxxp commented on #85
Hi @khadmitriy , thanks for the very detailed infos! Meanwhile I still need Goland log to understand what happened. You can find Goland log by menu `Help` - `Show Log in xxx`,  then search for `go-linter` in the log.

[2021-08-19 04:38] khadmitriy commented on #85
After starting a new IDE session, I only found 1 log (linter still not working)

2021-08-19 09:34:51,130 [      0]   INFO -        #com.intellij.idea.Main - ------------------------------------------------------ IDE STARTED ------------------------------------------------------
 2021-08-19 09:35:11,228 [  20098]   INFO - llij.ide.plugins.PluginManager - Loaded custom plugins: Go Linter (1.5.4)

I

[2021-08-19 13:51] xxpxxxxp commented on #85
Thanks @khadmitriy , seems the plugin didn't run at all, please try `Code` - `Inspect Code`, choose file scope. If there's no lint, then search `go-linter` in the Goland log.

[2021-08-20 05:34] khadmitriy commented on #85
![image](https://user-images.githubusercontent.com/89138095/130183901-73c07e97-7727-439e-b0d4-96a4c60f21f6.png)

![image](https://user-images.githubusercontent.com/89138095/130183946-edaf3fbc-c80a-405e-a37c-5decc98bdc10.png)

done, but there are no linter logs in the file again. Only

2021-08-20 11:21:06,375 [  17617]   INFO - llij.ide.plugins.PluginManager - Loaded custom plugins: Go Linter (1.5.

[2021-08-20 05:39] xxpxxxxp commented on #85
Seems the plugin never got a chance to run. I saw a guy post a similar question in Goland channel, would you mind try the same?

**Attention: please export settings before restoring default!**

![image](https://user-images.githubusercontent.com/1585918/130184956-fc3efd6b-67bc-4232-a648-8973bf1d9b1f.png)

[2021-08-20 08:50] khadmitriy commented on #85
Didn't help. After installing the plugin, it doesn't work again. In the log's I only found this.

2021-08-20 14:40:19,313 [ 168291]   WARN - tions.ex.ConfigurableCardPanel - auto-dispose 'Go Linter' id=preference.GoLinterConfigurable

and this (again).
2021-08-20 14:42:08,008 [   1351]   INFO - llij.ide.plugins.PluginManager - Loaded custom plugins: Go Linter (1.5.4)

I tried to check incpect code

[2021-08-22 13:58] xxpxxxxp commented on #85
Would you mind try the IDE and plugin with https://github.com/gin-gonic/gin ? That would help me understand the case.

[2021-08-23 04:46] khadmitriy commented on #85
![image](https://user-images.githubusercontent.com/89138095/130390984-8100b360-5452-4043-bfd8-5b8d5f4f4a71.png)

![image](https://user-images.githubusercontent.com/89138095/130391044-cb429737-07bc-4383-a55c-0296ab724bb2.png)

![image](https://user-images.githubusercontent.com/89138095/130391121-15156402-60fb-4236-bf9e-050d7b83b103.png)

I found only 1 error, maybe the plugin somehow stopped workin

[2021-08-24 05:40] khadmitriy commented on #85
![image](https://user-images.githubusercontent.com/89138095/130561495-5eec73b0-ef2e-4f8d-985a-13032b9b8d0a.png)

![image](https://user-images.githubusercontent.com/89138095/130561524-78c1c67f-25b0-453b-874e-c5e9a312b5c9.png)

only typecheck works, but after shutdown - still works (accepted configuration, reopened IDE)

![image](https://user-images.githubusercontent.com/89138095/130561667-7d1a9974-

[2021-08-24 09:05] unbreakab1e commented on #83
Hi @xxpxxxxp, sure, I will create a toy repo to reproduce and will post a link here

[2021-08-24 09:24] xxpxxxxp commented on #83
Thanks

[2021-08-24 09:31] xxpxxxxp commented on #85
Let me set up an Ubuntu VM this night and test it then. Meanwhile, would you copy-paste the content of
`~/.local/share/JetBrains/GoLand2021.2/options/other.xml`
I need properties that start with `go-` to apply exactly the same settings as yours.

[2021-08-25 04:44] khadmitriy commented on #85
![image](https://user-images.githubusercontent.com/89138095/130727615-a9d5eae3-f395-4cbe-95a0-236f88a2b408.png)

there is no this file

[2021-08-25 16:07] xxpxxxxp commented on #85
Sorry for the `gin` thing, I found they've merged a `.golangci.yml` at 8/19 and fixed most issues, only a few `typecheck` issues left. So what you've seen before is expected.
But that also means the plugin is working well with `gin`. So I'm guessing that your project is not using package management like `go mod`? Is it a pure Goland project? It's a known issue that the plugin doesn't work with pur

[2021-08-28 15:06] xxpxxxxp commented on #85
Please push the toy project to Github so I can clone it from your repo.

[2021-08-30 08:22] khadmitriy commented on #85
Okay.

https://github.com/khadmitriy/project

go linter's work only in config.go and structs.go. In other packages linter's don't work.

[2021-08-30 08:23] xxpxxxxp commented on #85
Thanks a lot! I'll check it out this night.

[2021-08-31 03:33] xxpxxxxp commented on #85
Thanks, I was able to repro the bug now. There exist the same problem as #84 that caused by UTF8 characters (Russian, Chinese), and some others. I'll release a new version to address the issue soon.

[2021-08-31 03:54] khadmitriy commented on #85
Thanks for the plugin! I was thinking about Russian encoding in file name or package name, did I fix it everywhere in the project, or not? Or, if there is Russian encoding in the file (comments), can there be problems too?

[2021-08-31 05:59] xxpxxxxp commented on #85
There's no fix required on your side, Russian characters in filename, code or comments are all allowed. While in general, I guess it's not a good idea to have non-ASCII characters in filename.

[2021-08-31 14:43] xxpxxxxp commented on #85
I've fixed the UTF8 character issue, while there's still some issues seems related to `golangci-lint` itself.

I've run the exact same command under your project root
```golangci-lint run --out-format json --allow-parallel-runners -j 3 --max-issues-per-linter 0 --max-same-issues 0 --disable-all -E exportloopref,funlen,noctx,gocritic,gocognit,nestif,wsl,exhaustive,nilerr,revive,prealloc,staticcheck

[2021-09-01 02:59] xxpxxxxp commented on #84
新版本发布了，麻烦确认下这个问题有没有修好，感谢

[2021-09-01 03:53] heyanlong commented on #85
I also encountered the some problem.
System: macOS
GoLand: 2021.2.1
Golang: 1.7

[2021-09-01 03:54] heyanlong commented on #84
How to upgrade to this version

[2021-09-01 05:12] Naist4869 commented on #84
已确认修复

[2021-09-01 05:12] #84 closed

[2021-09-01 05:19] khadmitriy commented on #85
Yes, only typecheck works, the command didn't help for other lints.

[2021-09-02 03:17] xxpxxxxp commented on #85
Hi @khadmitriy , I'd like to open an issue to https://github.com/golangci/golangci-lint/issues , while seems you have destroyed this repo https://github.com/khadmitriy/project . Any chance you can push it back? I need it to help them reproduct the problem easier.

[2021-09-02 04:50] khadmitriy commented on #85
I thought that he would no longer be needed, sorry, I returned the repository.

https://github.com/khadmitriy/project

[2021-09-02 08:41] xxpxxxxp commented on #85
Hi @heyanlong , I've tested on macOS with Go 1.17 + golangci-lint 1.42.0 with no such problem. The problem seems only exist on Linux, not Windows or macOS. If the issue still persists, please open another issue with details, thanks.

[2021-09-03 06:49] xxpxxxxp commented on #85
@khadmitriy I've got a clue that build `golangci-lint` from source with Go 1.17 would resolve the issue, I'll try it out tommorrow.

[2021-09-03 08:14] khadmitriy commented on #85
Good

[2021-09-04 05:27] xxpxxxxp commented on #85
Hi @khadmitriy , it works! Please execute command `go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.42.0` to compile `golangci-lint` from source with Go 1.17 (pre-request: make sure `gcc` is installed, if not run `sudo apt install gcc`)

Then open executable `$GOPATH/bin/golangci-lint` in plugin settings, works perfectly inside IDE.

[2021-09-06 04:22] khadmitriy commented on #85
Yes, it works, thanks!

[2021-09-06 04:25] xxpxxxxp commented on #85
Great! The repo is no longer needed, feel free to delete it now.

[2021-09-06 04:25] #85 closed

[2021-09-07 02:53] xxpxxxxp commented on #85
Hi @khadmitriy , a quick reminder, `golangci-lint` released a new version to fix this https://github.com/golangci/golangci-lint/releases/tag/v1.42.1 , you can get rid of self-build binary now.

[2021-09-08 22:22] talos-rob commented on #81
For me the issue was here:  https://github.com/golangci/golangci-lint/issues/825#issuecomment-630004446

You have to run from a working directory holding go.mod.  My Goland project root is not the go code root, so go.mod is in a subdirectory

[2021-09-13 11:33] iangregsondev commented on #42
@xxpxxxxp The version published in Brew (mac) for 1.42.1 still does not work...

❯ golangci-lint --version

golangci-lint has version 1.42.1 built from 54f4301 on 2021-09-04T14:39:09Z

--

Checked inside the idea.log and I don't see anything strange..

Are you sure the correct version has been pushed to Brew ?

[2021-09-14 03:47] xxpxxxxp commented on #42
Hi @iangregsondev , I'm also using `golangci-lint` v1.42.1 installed from HomeBrew, works for me. Please provide a toy project that doesn't work for you to help me debug the issue, thanks.

[2021-09-15 21:34] iangregsondev commented on #42
Yep- my bad. It started working.. uninstalled and reinstalled via brew and cleared the goland cache.

closing - thanks

[2021-09-15 21:34] #42 closed

[2021-10-27 14:33] dakyskye opened #86 "Linting does no more produce IDE warning/errors"
Adding a file-watcher for Go Linter produces this for me now:
![image](https://user-images.githubusercontent.com/32128756/139086597-17669d9d-445b-4db1-8999-68515008b20f.png)

While it used to show IDE warnings instead.

GoLand version:
![image](https://user-images.githubusercontent.com/32128756/139086792-27834720-fd6d-44bb-9a23-168714c608bd.png)

Configuration:
![image](https://user-images.githubu

[2021-10-28 15:54] MaxBreida opened #87 "wrapcheck linting even though error is wrapped"
Even though I wrap an error using [github.com/pkg/errors](https://github.com/pkg/errors), I still get linter warnings from wrapcheck linter:

![image](https://user-images.githubusercontent.com/18685579/139292527-d2b80da9-31f4-4b48-9e4e-88c29c986b74.png)

Using Intellij 2021.2.3 Ultimate Edition with Go Plugin
Go Linter Version 1.5.5

[2021-10-28 19:57] #86 closed, assigned to nobody

[2021-10-30 09:50] xxpxxxxp commented on #87
Hi @MaxBreida , there are 2 possible causes:

1. You have a config file (`.golangci.yml`) explicitly leave out `.Wrap(` of `wrapcheck` linter (see https://golangci-lint.run/usage/configuration/)

2. It's the plugin's cache, just save the file and wait for seconds, the message will gone away.

[2021-11-07 21:39] MaxBreida commented on #87
Hey, thanks for your answer. Neither your suggestions, nor updating golangci did help. Completely re-installing golangci did the trick though, so I'll close this issue.

[2021-11-07 21:39] #87 closed

[2021-11-09 09:06] xxpxxxxp commented on #83
Hi @unbreakab1e , I'm closing this as haven't heard from you for a long time, please feel free to reopen it if necessary.

[2021-11-09 09:06] #83 closed

[2021-11-11 14:32] aukgit opened #88 "Code Analysis Slow, not even using 5% of cpu"
Hello @xxpxxxxp yupengw , @arvenil

Code Analysis Slow, not even using 5% of CPU

![image](https://user-images.githubusercontent.com/4561204/141313111-f44264c9-e4a3-4ec3-9dc6-531ad1e655e3.png)

Please add concurrent parameter in the IDE config

![image](https://user-images.githubusercontent.com/4561204/141315513-33e5b74b-8064-4ef5-9e3e-05608d963b50.png)

![image](https://user-images.githubusercont

[2021-11-12 02:56] workwb opened #89 "加载完成后打开报下面的错误"
java.lang.Exception: Failed to Discover Linters: RunProcessResult(returnCode=2, stdout=, stderr=panic: load embedded ruleguard rules: rules/rules.go:13: can't load fmt

goroutine 1 [running]:
github.com/go-critic/go-critic/checkers.init.9()
	github.com/go-critic/go-critic@v0.6.1/checkers/checkers.go:58 +0x4b4
)
	at com.ypwang.plugin.GolangCiOutputParser.parseLinters(GolangCiOutputParser.kt:34)
	at

[2021-11-12 03:26] xxpxxxxp commented on #89
这是一个来自上游linter gocritic的bug，只能等他们修好，可能下个版本的golangci-lint就可以了
https://github.com/go-critic/go-critic/issues/1157
https://github.com/go-critic/go-critic/issues/1126

暂时可以先disable gocritic来解决

[2021-11-12 03:26] #89 closed

[2021-11-12 04:06] workwb commented on #89
好的！

[2021-11-14 20:03] platypusguy opened #90 "How do you run it once installed?"
I have it installed, but cannot find anywhere in Goland a way to run the linter. It does not appear under Tools->Go Tools nor, in fact, under the Tools menu at all. Nor can I find it anywhere else. What's the answer?

Whatever the way to run it from inside Goland is, I think it would be useful to include it in these instructions.

[2021-11-15 10:43] xxpxxxxp commented on #90
Hi @platypusguy , please double-check the plugin is installed and enabled:
![image](https://user-images.githubusercontent.com/1585918/141766628-683f60c9-30a2-41f5-a122-390bca6cfc73.png)

The plugin comes with a wizard, once installed it will popup at the bottom-right corner, just select or download a linter then everything should be fine.

[2021-11-16 23:43] codefromthecrypt opened #92 "//nolint based supression of IDE warnings"
Goland adds "Unhandled Error" warnings even when `//nolint` is added.

Ex even if I have this plugin installed and do this:
[code]

where there are returns, the comment is ignored and the IDE generates warnings.

A few teammates and I ran into this in other projects and found https://youtrack.jetbrains.com/issue/GO-6502 Since this was marked "won't fix" by @zolotov a few years ago it is impossible

[2021-11-17 06:25] platypusguy commented on #90
It's definitely installed. I'd like to run it manually from Goland, but cannot find it in any menu nor any button. How do I do that?

[2021-11-17 16:08] xxpxxxxp commented on #92
Hi @codefromthecrypt , I'm afraid I'm not able to help in your case, this plugin adds `golangci-lint` hints, but doesn't have control on IDE generated hints. `golangci-lint` honors `//nolint` comment, IDE doesn't. I cannot think of a better way than to upvote https://youtrack.jetbrains.com/issue/GO-6502 . Or maybe commit a PR to fix all those hints in one time.

[2021-11-17 16:08] #92 closed

[2021-11-17 16:38] xxpxxxxp commented on #90
Well, after the plugin is installed, please make sure a valid `golangci-lint` executable selected, then select linters as you wish
![image](https://user-images.githubusercontent.com/1585918/142241722-005cc74a-e253-40ef-b5aa-5e106ab547e8.png)

The plugin is running on-the-fly and display hints inline
![image](https://user-images.githubusercontent.com/1585918/142242240-e93be1ad-a679-4db3-bbb8-5d01ee

[2021-11-17 23:35] codefromthecrypt commented on #92
sadly as the upstream issue is marked "won't fix" there's no way to upvote
it. It is a pity people will end up committing tech debt over this.. Anyway
thanks for looking into it here, and I appreciate there is nothing you can
do. We have to hope someone at jetbrains will unlock that issue.

On Thu, Nov 18, 2021 at 12:08 AM xxpxxxxp ***@***.***> wrote:

[2021-11-25 08:48] platypusguy commented on #90
Thank you. That's very helpful. I'd suggest adding this info to the instructions. Thanks again!

[2021-11-25 08:48] #90 closed

[2021-12-04 18:08] iangregsondev opened #93 "GOROOT not set error, no linters"
Hi,

Strange error, rebooted but still the same, GOROOT is set, but I set it again and still constantly it shows the error with no linters available.

![image](https://user-images.githubusercontent.com/2370364/144719875-20cd87ad-47b3-46d1-b917-3a9d25672baf.png)

go version go1.17 darwin/amd64

golangci-lint has version 1.43.0 built from 861262b on 2021-11-02T20:54:42Z

![image](https://user-images

[2021-12-06 02:34] xxpxxxxp commented on #93
Hi @iangregsondev , the `GOROOT` referring here isn't the one in bash, it's the one in IDE, please make sure there's a valid GO SDK selected.
![image](https://user-images.githubusercontent.com/1585918/144777859-42e8ba8c-7bfc-468e-b49a-cd744a7559b0.png)

[2021-12-08 07:58] xxpxxxxp commented on #93
And if you have recently updated Go by `brew` or something similar, please restart IDE to let the new `GOROOT` take effect.

[2021-12-08 09:46] iangregsondev commented on #93
Thanks, this was a weird one. I think it was an invalid yaml file...

I removed the yaml config and then it worked and re-added it and now it works again

thanks for your prompt support.

[2021-12-08 09:46] #93 closed

[2021-12-12 00:26] JCzz commented on #7
Same problem in:

Goland: 2021.3
go version go1.17.3 darwin/arm64

[2021-12-12 13:30] xxpxxxxp commented on #7
Hi @JCzz  please open a new issue with some details, like Goland error log and your `go env`.

[2021-12-14 15:37] JCzz opened #94 "Roland is unable to find import references if go is installed via brew"
Goland: 2021.3
go version go1.17.3 darwin/arm64

If I install go via `brew install golang` Golang is unable to find references - I did select go version in `Preferences / Go / GOROOT`.

I worked if I installed Go using .dmg files from [go.dev](https://go.dev)

[2021-12-15 02:32] xxpxxxxp commented on #94
Hi @JCzz , the problem is plugin says cannot find `GOROOT` when selecting the one installed with brew? But it works with the one installed by dmg? Sometimes this happens when the `GOROOT` is updated (eg. brew upgrade), please try to reopen Goland instance (Quit and Open) then redo the selection, it would be working then.

[2021-12-15 13:11] JCzz commented on #94
Thanks @xxpxxxxp

[2021-12-15 13:11] #94 closed

[2021-12-16 01:06] sunday9th commented on #46
我遇到个类似，但是不一样点的问题
![image](https://user-images.githubusercontent.com/1252279/146288938-025fecfc-32b8-4090-a24a-d380a7c46d2a.png)
![image](https://user-images.githubusercontent.com/1252279/146289062-3088403e-da80-407f-ab0f-7f05aa1618a2.png)
版本是1.5.6
已经做过

这个操作了

[2021-12-16 02:44] xxpxxxxp commented on #46
在issue里找不到你这条回复了，是之后删除了吗？

From: ***@***.***> on behalf of sunday9th ***@***.***>
Reply-To: xxpxxxxp/intellij-plugin-golangci-lint ***@***.***>
Date: Thursday, December 16, 2021 at 9:07 AM
To: xxpxxxxp/intellij-plugin-golangci-lint ***@***.***>
Cc: xxpxxxxp ***@***.***>, Mention ***@***.***>
Subject: Re: [xxpxxxxp/intellij-plugin-golangci-lint] No linters shown in IDEA 2020.3.1 (#46)

我遇到个类似，但是不一样

[2021-12-23 17:05] DeniskaAbr opened #95 "Not work in WSL2"

[2021-12-24 03:03] xxpxxxxp commented on #95
Hi @DeniskaAbr , I've tried but the thing is `golangci-lint` itself cannot work with WSL2. Case-by-case saying:
* `golangci-lint` and code both inside WSL2, this way the linter works, but can't be integrated with Goland
* `golangci-lint` in Windows and code inside WSL2, this way it can be integrated with Goland, but don't work with code

By any chance if you make the 2nd way works, please let me k

[2021-12-29 08:12] zcyc opened #96 "Failed to Discover Linters Exception"
java.lang.Exception: Failed to Discover Linters: RunProcessResult(returnCode=1, stdout=, stderr=2021/12/29 15:57:30 Can't get enabled linters: unknown linters: 'ddd', run 'golangci-lint help linters' to see the list of supported linters
)
	at com.ypwang.plugin.GolangCiOutputParser.parseLinters(GolangCiOutputParser.kt:34)
	at com.ypwang.plugin.form.GoLinterSettings.lambda$initializeLinters$17(GoLin

[2021-12-29 08:15] zcyc commented on #96
![image](https://user-images.githubusercontent.com/9925064/147641246-da780a2d-b4e0-4523-b5b1-f8bdf4a8bf58.png)
![image](https://user-images.githubusercontent.com/9925064/147641274-8c0394d1-7b47-4932-8e9a-922d5fd18c7a.png)

[2021-12-29 08:20] xxpxxxxp commented on #96
`GOROOT` 如果最近更新过GO SDK，比如通过 `brew upgrade` 或者 apt 等等形式，需要**重启一下IDE**，plugin就可以找到正确的地址了。
```Can't get enabled linters: unknown linters: 'ddd', run 'golangci-lint help linters' to see the list of supported linters``` 应该没有ddd这个linter，找找看conf里是不是写错了，去掉就可以了

[2021-12-29 09:13] zcyc commented on #96
您好，我的 ddd 是个自定义扫描器，最近确实更新过 GO SDK，重启 IDE 不生效，我重启了电脑以后，如果不用这个自定义扫描器就不报错了。只要设置自定义扫描器就报错。

配置文件如下：

[code]

[2021-12-29 14:48] xxpxxxxp commented on #96
从官方的配置看来，不需要特意设置enable ddd，custom lint会被自动加载
https://golangci-lint.run/usage/linters/#custom

你也可以试着跑一下 `golangci-lint run ./...` enable ddd应该是不行的

[2021-12-30 02:30] zcyc commented on #96
好的， 我再看看吧。删掉也报错，不知道为啥了。

[2021-12-30 02:37] xxpxxxxp commented on #96
Linux和Mac的ELF格式不一样，so包肯定也是不一样的，需要重新编译
最终能让`golangci-lint run ./...`跑过plugin就可以工作了

[2021-12-30 09:42] AlpJQ opened #97 "Failed to Disvocer Linters"
![image](https://user-images.githubusercontent.com/38560140/147739649-735cc5b7-2418-4a47-a790-61db06a812a2.png)

goroutine 1 [running]:
github.com/go-critic/go-critic/checkers.init.9()
	github.com/go-critic/go-critic@v0.6.1/checkers/checkers.go:58 +0x4b4
)
java.lang.Exception: Failed to Discover Linters: RunProcessResult(returnCode=2, stdout=, stderr=panic: load embedded ruleguard rules: rules/rul

[2021-12-30 10:05] xxpxxxxp commented on #97
It's an upstream bug that should be resolved in the next version of `golangci-lint`, please temporarily disable `gocritic` linter until a new version of `golangci-lint` released.

Related:
https://github.com/go-critic/go-critic/issues/1157
https://github.com/go-critic/go-critic/issues/1126

In case you are stuck by the dialog and cannot unselect `gocritic`, please manually remove property
`go-enab

[2021-12-30 10:26] AlpJQ commented on #97
![image](https://user-images.githubusercontent.com/38560140/147743454-e3a76731-768b-4b1b-8ff7-a0436c94e65f.png)
配置文件中去除这个吗？我试了下不行

[2021-12-30 10:47] AlpJQ commented on #97
我在~/Library/Application Support/JetBrains/Goland2021.3/options/other.xml找不到go-enabled-linters这个 property 呀～

[2021-12-30 10:50] xxpxxxxp commented on #97
有config file的话就不会有这个property，在`.golangci.yaml`里disable gocritic就好
改完试下在当前目录下执行 `golangci-lint linters` 不报错就可以了

[2021-12-30 10:53] AlpJQ commented on #97
这个东西不管了吗？
![image](https://user-images.githubusercontent.com/38560140/147745517-72ff46de-7763-4ea6-bda0-ac5e1da1ced3.png)

[2021-12-30 10:54] AlpJQ commented on #97
没有报错，但打开tools还是有这个东西出现
![image](https://user-images.githubusercontent.com/38560140/147745635-da6aea9b-aa8c-4dfb-b749-f604e82df498.png)

[2021-12-30 15:48] xxpxxxxp commented on #97
你有多个GO SDK环境吗？IDE里设置的GOROOT是否与bash里的不同？这个bug只在特定的go version下出现

[2021-12-31 11:43] zcyc commented on #96
您的新版本我这里彻底炸了，只要有配置文件就炸了。
我已经 disable 了 gocritic 也没用。
![Uploading image.png…]()

[2021-12-31 11:44] zcyc commented on #97
上一个版本的插件没这个问题。

[2022-01-02 11:11] xxpxxxxp commented on #96
抱歉，rollback中

[2022-01-04 06:51] xxpxxxxp commented on #96
Rollback回上个版本了，抱歉带来了一系列的困扰

[2022-01-04 06:51] #96 closed

[2022-01-04 06:51] xxpxxxxp commented on #97
Rollback回上个版本了，抱歉带来了一系列的困扰

[2022-01-04 06:51] #97 closed

[2022-01-04 06:51] #95 closed

[2022-01-10 03:41] txt1999 opened #98 "import a package but remind me not used and lint about "typecheck""
when i import a package such as "xxx/v2", and then
`var a = xxx.New()`
the linter always remind
`"xxx/v2" imported but not used (typecheck)`

[2022-01-12 07:26] txt1999 commented on #98
i'm sure that my code could successfully built and it's running so happy
![image](https://user-images.githubusercontent.com/28136545/149082464-083ef8f9-6f3d-4d75-a83e-b4a1bfbb261c.png)

[2022-01-17 14:32] xxpxxxxp commented on #98
Hi @txt1999 , please try run `go mod tidy` on your project, then inspect the file again.

[2022-01-25 09:13] #88 closed

[2022-01-25 09:19] aukgit commented on #88
Thank you for your all kind support. Will check and update here.

[2022-01-27 09:59] workwb opened #99 "go-linter 报告配置错误【已解决】"
`Go linter running error:
			Please make sure there's no syntax error, then check if any config error`

对于这个问题，需要注意一下，我目前认为出现错误的情况是因为 go mod 依赖没有拉取好，或者就是没有拉。

只需要要在项目中执行 ` go mod tidy ` 之后 该插件会正常运行！

[2022-01-27 10:00] workwb commented on #99
希望可以提供一些注意事项，或者可能的错误处理方式，并统一展示

[2022-01-29 06:11] xxpxxxxp commented on #99
嗯好的，报错的时候可以提示一下。

[2022-02-02 16:46] frederikhors opened #100 "I'm getting again and again the same "Go linter running error", why?"
I'm getting again and again the same error in Goland:

[code]

I have the below `.golangci-lint.yml` file in my root dir:

[code]

I'm using

[code]

What's the problem?

[2022-02-03 15:41] xxpxxxxp commented on #100
Hi @frederikhors , if there's no syntax error, just run `go mod tidy` to sync deps it will disappear.

[2022-02-03 15:58] frederikhors commented on #100
I already did it. Nothing changes (go.mod & go.sum are updated) and it keeps to show again and again.

Is there a way to read some logs?

[2022-02-04 12:44] xxpxxxxp commented on #100
Yes, there's Goland log, click `Help` - `Show Log in xxx`, open the log with an editor and search for `go-linter`
Please execute the `Debug command` in your terminal too, see if it could be successfully running.

[2022-02-04 12:58] frederikhors commented on #100
I tried the Debug command in my terminal and it works. I really don't know what is going on.

The command is: `cd C:\project && set "PATH=C:\Program Files\Go\bin;C:\Python310\Scripts\;C:\Users\Fred\go\bin;C:\Program Files\JetBrains\GoLand 2021.3.2\bin" && set "GOPATH=C:\Users\Fred\go" && "C:\Users\Fred\go\bin\golangci-lint.exe" "run" "--out-format" "json" "--allow-parallel-runners" "-j" "6" "--max

[2022-02-05 11:07] xxpxxxxp commented on #100
`can't run linter goanalysis_metalinter: inspect: failed to load package dataloaders: could not load export data: no export data for "project/pkg/project/graphql/dataloaders"` this is the error that `golangci-lint` returns when the plugin tried to execute it. While it seems the debug cmd worked in your terminal, it might related to env variables, is it possible to share me a minimized reproducible

[2022-02-05 18:21] frederikhors commented on #100
I found this: https://github.com/golangci/golangci-lint/issues/2523 and https://github.com/golangci/golangci-lint/discussions/1920.

I clearead my `go.mod` and `go.sum` and recreated them: THE ERROR IS STILL THERE.

If I simply run `golangci-lint run` in the root directory this error is not there!

I cannot share code right now because the project is big and private.

[2022-02-05 18:23] frederikhors commented on #100
I just found this too: https://youtrack.jetbrains.com/issue/GO-11249.

[2022-02-05 18:36] frederikhors opened #101 "Why so slow?"
Why if I run `golangci-lint run` in my root directory it ends in 2 seconds and instead in Goland with inspection tool it ends after 2/3 minutes or more?

![image](https://user-images.githubusercontent.com/41120635/152654396-b9c96a6b-c061-4b0e-ac98-98061f8f8a53.png)

![image](https://user-images.githubusercontent.com/41120635/152654461-e794bb7e-b4cb-4d5a-9222-fcf1cdacf1a4.png)

[2022-02-06 03:37] xxpxxxxp commented on #101
Please don't use whole project scope if you got a big project, the plugin is running per file, so by whole project, Goland will enumerate all files and call the plugin sequently. While manually run golangci-lint on root dir is one pass, it's certainly much much quicker.

[2022-02-06 03:37] #101 closed

[2022-02-06 06:01] xxpxxxxp commented on #100
With those 2 still no luck?
[code]

As mentioned in those related issues, it might due to inconsistent env variables between your terminal and Goland, would you share your `go env` output?

[2022-02-06 11:46] frederikhors commented on #100
Yeah, still no luck after those 2 commands. I tried it very precisely. The `go.sum` changed but still the crazy error.

- go env:
[code]

[2022-02-06 11:48] frederikhors commented on #101
And this is a problem because I have installed Go-linter just for the global inspection which lists the problems in the whole project and it is very convenient because clicking takes me there and I can fix the problems.

If I have to use the terminal it doesn't make much sense to have Go-linter. No?

[2022-02-08 02:38] xxpxxxxp commented on #101
Yeah, I understand your use case. The plugin is mainly for the purpose of viewing issues in the editor, so that we can fix code inline, that's why it been designed to run per file, this mode sure doesn't work well with a large score.

[2022-02-08 10:28] frederikhors commented on #101
Is there a way to change it to work well with global inspection? Should we ask for help on jetbrains issues platform?

[2022-02-09 16:37] mkevac commented on #100
I had the same problem for soooo long and today I've decided to look into it.
This is what I saw in `Help -> Show logs in Finder`
[code]

It was strange, because there is a GOPATH set

![image](https://user-images.githubusercontent.com/123544/153246305-324a5116-6456-4e9a-bed3-aecaee195639.png)

Just for LOLs I added it one more time

![image](https://user-images.githubusercontent.com/123544/153246

[2022-02-11 16:04] godstanis commented on #100
The plugin is not working on Ubuntu, @xxpxxxxp is there any plans on fixing it for Win/Ubuntu (as I can see from the plugin's latest reviews, it's a common issue)?

[2022-02-14 12:32] xxpxxxxp opened #102 "I had the same problem for soooo long and today I've decided to look into it."
I had the same problem for soooo long and today I've decided to look into it.
This is what I saw in `Help -> Show logs in Finder`
[code]

It was strange, because there is a GOPATH set

![image](https://user-images.githubusercontent.com/123544/153246305-324a5116-6456-4e9a-bed3-aecaee195639.png)

Just for LOLs I added it one more time

![image](https://user-images.githubusercontent.com/123544/153246

[2022-02-14 15:30] xxpxxxxp commented on #98
Haven't heard from you for a month, closed for now. Feel free to reopen.

[2022-02-14 15:30] #98 closed

[2022-02-14 15:34] xxpxxxxp commented on #102
Open a new issue to avoid disturbing others. @mkevac would you show me the contents of file `.idea/workspace.xml` of your project? It contains Go related settings for me to diagnose.

[2022-03-22 22:23] MakeMeLaugh commented on #100
The original (`goanalysis_metalinter`) error and one that @mkevac discovered workaround for (empty `GOPATH`) may not be related, tbh.

I've found another use case which can cause almost the same outcome:

The example value for the `run.issues-exit-code` param was changed in the `.golangci.example.yml` file during [this PR](https://github.com/golangci/golangci-lint/pull/2501).

If you (as I've done

[2022-03-30 05:57] BorzdeG opened #103 "Support Go 1.18"
[code]

[2022-03-31 09:04] xobotyi opened #104 "Not working with sources and go binary located in WSL"
While working on windows machine, where all the sources located inside WSL - it is impossible to use this plugin due to constant error
[code]

Supposedly that is caused by binaries mismatch, `golangci-lint` is installed in windows with `.exe` binary while golang binary is lunix and inside WSL.

I've tried to manually select linux binary of  `golangci-lint` but it is impossible, binary simply wont

[2022-04-01 05:51] xxpxxxxp commented on #104
Thanks for the clue, I'll try it out, if it works with `wsl -d <distro-name> <cmd>` I can add WSL support too.

[2022-04-02 09:49] songkane opened #105 "How to get permission from macbook apple m1"
I don't know if  this is the reason
it occurs in a new macbook m1
it's ok for my old macbook with intel

<img width="787" alt="image" src="https://user-images.githubusercontent.com/15307785/161377481-cbb9d18d-c993-4a19-9f30-6bed1c4325bb.png">

[2022-04-06 06:18] xxpxxxxp commented on #105
Hi @songkane , it means the current Goland instance, where the plugin resides, doesn't have permission to write `/usr/local/bin`. The permission of this folder may vary between systems. `Get Latest` button also has a pop-up to let you choose a location, choose a proper directory then to avoid this failure.

[2022-04-06 06:18] #105 closed

[2022-04-07 16:09] #99 closed

[2022-04-08 13:26] krikun98 opened #106 "Support linter binary inside WSL"
A development environment inside WSL is a common thing, and the plugin does not let you select the golangci-lint binary in the Linux filesystem in GoLand. I'm constantly getting the following error with the path pointing to the `.exe` Windows binary:
[code]

[2022-04-08 13:33] krikun98 commented on #106
Checked closed issues - running the command via `wsl -d ubuntu path_to_home/go/bin/golangci-lint --version` in Powershell gives the following error:
[code]
I had the same errors happen when I was installing the wrong version of `golangci-lint` for my Go version. It's probably not picking up the language files.

[2022-04-09 05:10] zcjswx commented on #96
GOROOT为 1.17.x 版本时都会出现此问题，尝试了多个小版本。1.16和1.18都没有问题

[2022-04-09 07:56] xxpxxxxp commented on #96
@zcjswx 最新版本的plugin `1.5.10` 依然有这个问题吗？

[2022-04-09 12:55] zcjswx commented on #96
发现的确用的是旧版。删除了所有配置文件和plugin，再重新安装新版本，还是出错
`java.lang.Exception: golangci-lint panic: RunProcessResult(returnCode=2, stdout=, stderr=panic: load embedded ruleguard rules: rules/rules.go:13: can't load fmt`

IDEA 2021.3.3
go plugin 213.7172.6
go linter 1.5.10

[2022-04-11 15:36] xxpxxxxp opened #107 "发现的确用的是旧版。删除了所有配置文件和plugin，再重新安装新版本，还是出错"
发现的确用的是旧版。删除了所有配置文件和plugin，再重新安装新版本，还是出错
`java.lang.Exception: golangci-lint panic: RunProcessResult(returnCode=2, stdout=, stderr=panic: load embedded ruleguard rules: rules/rules.go:13: can't load fmt`

IDEA 2021.3.3
go plugin 213.7172.6
go linter 1.5.10

_Originally posted by @zcjswx in https://github.com/xxpxxxxp/intellij-plugin-golangci-lint/issues/96#issuecomment-1093998076_

[2022-04-11 15:37] xxpxxxxp commented on #103
Supported in latest version, please check

[2022-04-11 15:39] xxpxxxxp commented on #96
@zcjswx 创建了一个新issue #107 以免影响其他人，麻烦提供一下出错的 `go env`, `golangci-lint version`，如果code是开源的最好提供一下repo地址

[2022-04-14 15:20] xxpxxxxp commented on #106
Working on it

[2022-05-10 06:23] BorzdeG opened #108 "When selecting a symlink file, the final path is selected"
Select symlink file `/opt/homebrew/bin/golangci-lint`
<img width="254" alt="image" src="https://user-images.githubusercontent.com/2332528/167561228-e3c74bf0-bdf1-4d4a-a187-c7f178bd1f39.png">

[code]

In fact, the dest path from the symlink file is substituted
<img width="616" alt="image" src="https://user-images.githubusercontent.com/2332528/167561730-ec78093d-9398-4b3a-bf62-6a09b8c3285a.png">

[2022-05-10 07:26] BorzdeG commented on #108
I saw the parameter "native.mac.file.chooser.enabled=false" in [blah2](https://youtrack.jetbrains.com/issue/IDEA-99218), but it does not work yet

[2022-05-10 08:11] BorzdeG commented on #108
Problem is resolved.

Help | Find Action > find "Registry" > disable `ide.mac.file.chooser.native` before selecting a symlink file and then enable it back. Restarting the IDE is not required

[2022-05-10 08:11] #108 closed

[2022-05-13 07:10] ywanbing opened #109 "【建议】能否支持在goland打开多个go项目中 分项目支持配置"
问题：
我在用goland打开不同go项目的时候，发现不同项目的配置都是同一个；
对此，需要频繁的切换。

[2022-05-13 07:46] xxpxxxxp commented on #109
我看看，应该是可以做到的

[2022-05-13 07:58] ywanbing commented on #109
非常感谢！👏👏

[2022-05-13 19:42] dowglaz commented on #106
Hi! I opened an issue on GoLand's tracker and they redirected me to this plugin repo. I'll send here the text I sent there:

I'm not sure if it's related with this issue you guys are discussing here, but let me know if I need to open another one instead.

[2022-05-15 05:25] xxpxxxxp commented on #106
@dowglaz The plugin doesn't work with WSL now, I'm working on the support.

[2022-05-15 05:26] #107 closed

[2022-06-24 08:08] xobotyi opened #110 "Very long delay between change and linting"
As for now, on windows machine and Goland IDE, linting (it results) show up after like 10-15 seconds after save action.

Perfect behaviour is like the eslint does it - debounced linting on changes (i suppose, not sure, but it works there like immediately).

Is it can be considered a bug or there are any restrictions for immediate execution for linter to be executed?

[2022-06-30 11:23] maciej-zh opened #111 "Go linter running error, please make sure there's no syntax error, then check for any config error"
Constantly popping up: "Go linter running error, please make sure there's no syntax error, then run 'go mod tidy' to make sure deps ok"

I've only installed the plugin - no custom config, running on defaults. Ofc running go mod tidy does not change a thing. Plugin does not work.

[2022-07-03 12:17] dingyaguang117 commented on #111
+1

[2022-07-03 13:03] dingyaguang117 commented on #111
It seems golangci-lint can not recognize my package name

bash:

[code]

got

[code]

the go.mod

[code]

[2022-07-03 13:05] Activity00 opened #112 "Cannot create configurable"
Cannot create configurable

com.intellij.diagnostic.PluginException: com.ypwang.plugin.form.GoLinterSettings PluginClassLoader(plugin=PluginDescriptor(name=Go Linter, id=com.ypwang.plugin.go-linter, descriptorPath=plugin.xml, path=~/Library/Application Support/JetBrains/GoLand2022.1/plugins/goland-linter, version=1.5.4, package=null, isBundled=false), packagePrefix=null, instanceId=105, state=acti

[2022-07-03 13:13] #112 closed

[2022-07-03 13:14] Activity00 commented on #112
solved by restart!

[2022-07-03 13:56] dingyaguang117 commented on #111
it solved by run `golangci-lint cache clean`

[2022-07-04 12:35] maciej-zh commented on #111
`golangci-lint cache clean` does not change a thing.

The error keeps popping up.

[2022-07-07 09:36] maciej-zh commented on #111
[code]
Obviously there are no syntax errors, all compiles, tests and works. And there are couple of .go files ;)

[2022-07-07 16:24] xxpxxxxp commented on #111
Thanks @maciej-zh ! Can you try run the debug command, that's exactly what the plugin tried under the hood:
```cd /Users/maciej/repos/maciej-scratchbook && export PATH=/opt/homebrew/Cellar/go/1.18.1/libexec/bin:/usr/bin:/bin:/usr/sbin:/sbin && export GOPATH= && '/opt/homebrew/Cellar/golangci-lint/1.46.2/bin/golangci-lint' 'run' '--out-format' 'json' '--allow-parallel-runners' '-j' '2' '--issues-ex

[2022-07-11 14:15] adrianlungu opened #113 "Go linter running error; -mod=readonly only valid when using modules"
For some reason, Go linter started complaining about the following

[code]

The weird thing is, if I copy paste the `debug command` into iTerm, it works; it's only inside IntelliJ that it complains.

I have Go Modules turned on, reinstalled the plugin just in case; reinstalled golangci-lint; cleaned cache; ran `go mod tidy`. Nothing makes it work.

Currently running IntelliJ Idea 2022.2 Beta.

[2022-07-11 15:52] xxpxxxxp commented on #111
Hi @maciej-zh , quote you again in case you missed above message

[2022-07-11 16:04] xxpxxxxp commented on #113
Seems quite like this https://github.com/golangci/golangci-lint/issues/1502#issuecomment-751883964
Would you try remove `modules-download-mode: readonly` from config?

[2022-07-12 08:02] adrianlungu commented on #113
It seems to be working if I remove `modules-download-mode: readonly`   🤔

[2022-07-13 15:12] xxpxxxxp commented on #113
Thanks, there should be some env variable mismatch between the plugin and other terminals, please try restart Intellij, see if it resolve the issue.

[2022-07-18 13:03] maciej-zh commented on #111
My suspicion is that the plug-in can't deal with project's folder structure like that:
[code]
When I accidentally switched to another one with a classic structure of just `go.mod` and `main.go` in the root path it seems to be working fine.

[2022-07-21 07:49] Lvzhenqian opened #114 "golangci-lint 1.47.1 version not recognized"
as shown like this:
![截图_选择区域_20220721154541](https://user-images.githubusercontent.com/17487028/180159244-ab021ea4-ed4f-4095-b707-30ee8797e33e.png)

[2022-07-21 15:13] jerome-laforge opened #115 "multiple projects and specific `Project Root` for each project"
It is not possible to define for each intellij project their own `Project Root`that is contained .golangci config file (each project has own golangci config file). If I modify the `Project Root` for one Go projet, all other Go project has the same.

[2022-07-25 04:05] xxpxxxxp commented on #114
Hi @Lvzhenqian , it's possible that due to v1.47.1 being much slower, it timeout then the plugin thought it was not compatible. Would you please try with v1.47.2 https://github.com/golangci/golangci-lint/releases/tag/v1.47.2

[2022-07-25 04:07] xxpxxxxp commented on #115
Sorry, I didn't get what your means, would a per-intellij instance config solve your issue?

[2022-07-25 04:12] #114 closed

[2022-07-25 09:06] jerome-laforge commented on #115
Sorry if I was not enough clear.

I have two projects (or more) within intellij.
For example:
[code]

the .golangci.yml from myProject1 is not the same of myProject2.

For myProject1, if you configure the plugin golangci-lint for pointing to `/home/user/myProject1/src` that will affect also config for myProject2.

![debug](https://user-images.githubusercontent.com/9979375/180740426-7b3bd90f-d19a-4

[2022-07-25 16:06] xxpxxxxp commented on #115
Ah got it. So basically a project-based config should solve the problem, right? I'm working on such change, ETA 2 weeks, sorry for the inconvenience.

[2022-07-25 16:09] jerome-laforge commented on #115
yes, it is.

[2022-08-03 15:18] niallnsec opened #116 "Error with Go 1.19 and golangci-lint 1.47.3"
When attempting to configure the linter after installing Golang 1.19, I am getting the following exception:

[code]

[2022-08-05 04:14] Roshan-Mehta1 opened #117 "Not able to select config file"
I want to change the config file for golangci-lint. But currently there is no option to change the config file path. It is automatically detecting the path.
<img width="977" alt="Screenshot 2022-08-05 at 9 42 39 AM" src="https://user-images.githubusercontent.com/105209272/183000096-be844d14-3474-48c6-8760-0358d4c78591.png">

[2022-08-10 09:03] frankoid opened #118 "Allow "golangci-lint is custom built" notification to be disabled"
We install `golangci-lint` using `go install` in our `Makefiles` so I don’t want the plugin to install a different version.

It would be nice if this specific notification could be disabled without disabling any other notifications from the plugin.

I've found the `Go linter notifications` entry in `Preferences | Appearance & Behavior | Notifications` but I expect it controls other notifications f

[2022-08-17 06:38] BorzdeG opened #119 "Doesn't show detailed error message from golangci-lint"
<img width="406" alt="image" src="https://user-images.githubusercontent.com/2332528/185050856-7b662b02-4db9-4e17-8aa0-ee3bca578de5.png">

in GoLand log:
[code]

`$PROJECT_DIR$` and `PKG_HIDDEN` - private data cut by me

[2022-08-17 15:01] vovean opened #120 "Incorrect plugin problem message"
I'm currently using Go Linter 1.5.10 and Goland 2022.1.3
I have Go Linter installed and multiple Goland projects opened at the same time in different windows, one of those projects contains protobuf proto files and generated go code, so shouldn't be checked at all.
Other opened projects, which contain meaninful Go code each have their own .golangci.yml.
In Go Linter configuration for the project w

[2022-08-17 15:04] vovean commented on #120
I am using Mac OS

[2022-08-18 07:29] #120 closed

[2022-08-19 02:50] xxpxxxxp commented on #117
Hi @Roshan-Mehta1 , could you explain more about the use case? Cause mostly people would want to use the `.golangci.yml` under the project root, to be aligned with the CI system. If you are not using a CI system, then you are free to change your own `.golangci.yml` to staisfy your need.

[2022-08-19 11:51] sig-saraf opened #121 "Go linter running error"
I'm facing error while running the Go Linter tool downloaded as a plugin from the market place, in my IntelliJ IDEA IDE. The following are the details around the scenario for your reference.
1. Platform: MacOS 11.6
2. IDE: IntelliJ IDEA 2021.2.1
3. Go Linter: 1.5.10
4. Go version: 1.17.6. $GOROOT is set in IDE under `Preferences -> Languages & Frameworks -> Go -> GOROOT`
5. $GOPATH is also set in

[2022-08-22 13:43] xxpxxxxp commented on #116
Does the issue still happen? And what's the platform BTW?

[2022-08-24 09:23] niallnsec commented on #116
This appears to be fixed in the latest update, thank you very much for the quick fix!

And the platform was macOS arm64

[2022-08-24 09:23] #116 closed

[2022-08-24 10:27] xxpxxxxp commented on #116
Thanks for confirming!

[2022-08-24 10:28] #109 closed

[2022-08-24 10:29] xxpxxxxp commented on #115
Per project config is supported in latest release.

[2022-08-24 10:29] #115 closed

[2022-08-24 12:45] frankoid commented on #118
Thank you!

[2022-08-24 15:21] jerome-laforge commented on #115
It works like a charm.

[2022-08-25 04:02] xxpxxxxp commented on #121
Hi @sig-saraf , I've made an update, does the latest version working for you?

[2022-08-25 04:03] xxpxxxxp commented on #119
Hi @BorzdeG , you mean you'd like to see detailed error info in such panel?

[2022-08-25 04:27] BorzdeG commented on #119
Yes. So that you do not have to go to the IDE log and see why the error occurred.

With your permission, I'll try to add this feature myself.

[2022-08-25 07:03] sig-saraf commented on #121
@xxpxxxxp I'm seeing the latest version as 1.5.10 in my IntelliJ marketplace and the above scenario is using that. Any instructions how or where can I see and install the even latest?

[2022-08-26 05:08] xxpxxxxp commented on #121
The latest version is 1.6.0, click Intellij IDEA on the left top, check for updates, it will update all plugins to latest version

[2022-08-26 08:57] sig-saraf commented on #121
@xxpxxxxpI was on an older version of IntelliJ and your version 1.6.0 was not supported on that version of IDE. I updated my IDE and the plugin too, and I confirm it seems to be working for me now. Great, thanks! Feel free to close this.

[2022-08-27 11:44] #121 closed

[2022-09-05 12:53] chrisnappin opened #123 "Error using plugin when modules mode off"
Hi,

  I'm using v1.6.0 of the plugin with GoLand 2022.2.2 (Build #GO-222.3739.57 built on August 16,2022) and we're getting the commonly reporting "Go linter running error Please make sure no syntax or config error, then run 'go mody tidy' to ensure deps ok" error.

Our environment is as follows:
* Go 1.18.1 with modules mode disabled (GO111MODULE=off)
* GoLand project set with "Go Modules Integr

[2022-09-06 15:03] xxpxxxxp commented on #123
Hi @chrisnappin , yes the plugin explicitly `set GO111MODULE=on` if

- Environment variable GO111MODULE=on. In this case, it makes no difference whether the plugin set it or not.
- Go module support enabled in IDE
![image](https://user-images.githubusercontent.com/1585918/188669430-b9f9018a-e9ae-4ece-80c6-198ffc265150.png)

So if you don't need go module on, please consider disabling those 2 place

[2022-09-06 16:01] chrisnappin commented on #123
Yes, we have those settings off. GO111MODULE=off is set as a global environment variable, and "Enable Go modules integration" is disabled in the GoLand IDE for each project we setup. However the plugin doesn't pick this up and doesn't work. I've restarted GoLand as a whole several times?

[2022-09-06 16:07] chrisnappin commented on #123
If I run "go env" in a GoLand terminal window it also reports "GO111MODULE=off" so I am confident the global environment variable is set.

Our code builds in GoLand, so I am confident the "Enable Go modules integration" option is disabled, because without that GoLand doesn't compile our imports properly.

[2022-09-08 14:19] xxpxxxxp commented on #123
thanks, seems a bug, checking

[2022-09-09 07:16] xxpxxxxp commented on #123
Hi @chrisnappin , does the latest release fixed this problem?

[2022-09-09 14:38] chrisnappin commented on #123
Brilliant, yes @xxpxxxxp this issue is now resolved in the v1.6.1 release.

Many thanks for the prompt fix, we're now able to use the plugin!

[2022-09-09 14:38] #123 closed

[2022-09-12 13:33] Rigellute commented on #106
Would love for this plugin to work within WSL!

[2022-09-15 19:49] hurrycaner opened #124 "Can't run linter goanalysis_metalinter: inspect: failed to load package context: could not load export data: no export data for "context""
I'm getting this error all the time, I've tried updating golangci-lint and it didn't changed, golangci-lint is working as expected through cli.

<details>

[code]

</details>

On the error log, i saw that there's that `'--build-tags' 'linux' 'internal/interfaces'`, but i'm running it on a macbook, removing that `'linux'`, things works as expected... the project has problems at all... am i missing

[2022-09-16 06:55] xxpxxxxp commented on #124
Hi @hurrycaner , the build tag is get from IDE setting, you can check it here:
<img width="977" alt="image" src="https://user-images.githubusercontent.com/1585918/190575465-6973383e-109b-4193-8640-1db315068d52.png">

Please check your OS setting.

[2022-09-16 09:34] Lvzhenqian opened #125 "Project with empty GOPATH variable cannot execute plugins"
[code]
has GOPATH variable,like this:
<img width="1127" alt="image" src="https://user-images.githubusercontent.com/17487028/190605500-d2406db8-dc03-4bfb-80e3-506c58bc7dd3.png">

not GOPATH variable,like this:
<img width="1125" alt="image" src="https://user-images.githubusercontent.com/17487028/190605784-17ed58a2-5491-4543-abe7-a66f1ae15d19.png">

golangci-lint version:  `golangci-lint has version

[2022-09-16 12:03] #124 closed

[2022-09-19 16:45] xxpxxxxp commented on #125
Hi @Lvzhenqian , the plugin get GOPATH from IDE in such order:

1. 全局GOPATH
2. 项目GOPATH
3. If this `Use GOPATH that's defined in system environment` is checked, get GOPATH from environment variable
![image](https://user-images.githubusercontent.com/1585918/191069638-474a5cbb-e634-476f-b730-d6a61be1a82a.png)

So please make sure at least 1 of them has no null value. In your case, I would suggest ch

[2022-09-19 16:45] #125 closed

[2022-09-21 20:11] juan-alvarez-sp commented on #117
@xxpxxxxp in my case, I have a `.golangci.yml` at `$HOME`, which is my default

[2022-09-28 09:36] chrisnappin opened #126 "Plugin doesn't seem to use .golangci.yml exclude-rules"
Hi, we're using the plugin on our current work project (thanks to the recent plugin fix on honouring no modules mode), but we've noticed that disabled linting rules are being reported on our unit test code.

We have the following config in the .golangci.yml files in the top level directory of each of our repos, which disables certain rules for unit test code only:

[code]

However when opening a u

[2022-09-30 10:01] chrisnappin commented on #126
Sure, screenshot attached.

The relative file structure is as follows:
* project top level directory
    * .golangci.yml
    * sub directories
        * unit test files

for example, `worker_pool/worker_pool_test.go` or `kafka/publisher_test.go`

[2022-09-30 10:57] xxpxxxxp commented on #126
Hi @chrisnappin , I tried to reproduce the issue with https://github.com/xxpxxxxp/debug
The exclude-rule worked. Please try with your IDE, do quit and restart your IDE after changing` .golangci.yml`, cause there's in memory cache. If the issue still occur, I need your plugin settings for debug then.

[2022-10-03 14:08] chrisnappin commented on #126
Thanks for investigating, I wasn't aware the entire IDE needed restarting each time the config file is changed, although I thought I had tried that. It seems to be working if I do that, so closing this issue as a non-issue.

[2022-10-03 14:08] #126 closed

[2022-10-04 14:06] huyz opened #127 "Path setting across all projects"
Every time I open a new project, the plugin asks me to set the path for `golangci-lint`.

Can the setting be remembered and shared for all projects?

[2022-10-08 03:33] xxpxxxxp commented on #127
Hi @huyz , sorry for that, I know it is frustrating, some people want different configurations per project (eg. #109 #115), so this 1-time pop-up is useful in such cases.

[2022-10-08 03:37] huyz commented on #127
Is it possible to have the path for `.golangci.yml` be per-project while the path for `golangci-lint` be across all projects?  That would satisfy everyone I think

[2022-10-08 04:06] huyz commented on #127
Or maybe copy the per-project path `golangci-lint` to an across-projects default setting. Then whenever a new project is encountered, the across-projects default setting can be copied to the per-project path for this new project

[2022-10-10 08:47] xxpxxxxp commented on #127
Good idea, the plugin can skip setup if
* there's golangci-lint exe in PATH
* there's .golangci.yml config for current project

Otherwise, it would be better for user config the plugin for 1 time, as default linters are far from good for most cases.

[2022-11-04 09:31] ywanbing opened #128 "使用过程中报错"
go-linter：1.6.1
goland: 2022.1.3
go: 1.17.3
golangci-lint: 1.50.1

![image](https://user-images.githubusercontent.com/30226135/199940225-5c4bd9f9-bdb6-4171-8059-ba2356f4ae2b.png)

代码都没有问题，但是插件会报错

开启的插件如下：
![image](https://user-images.githubusercontent.com/30226135/199940456-850bed09-7b28-4465-b757-c585168538ea.png)

我想知道插件 `go-linter` 的运行原理； 他在修改文件的时候，好像只检查了当前文件。

只检查改动文件，这种情况下有的文件引用其他没有选中的文件的内容，

[2022-11-04 10:27] xxpxxxxp commented on #128
Hi @ywanbing , 麻烦找一下log，在菜单里选 `帮助 - Show Log in xxx`
在log里搜索 `go-linter` 相关的几条贴这里就行。

插件针对单个文件运行时候，是定位到文件的当前目录，然后执行 `golangci-lint` ，没改动的文件也可以正常引用的。可能是一些conf上的问题，看一下log就清楚了。

<img width="406" alt="image" src="https://user-images.githubusercontent.com/1585918/199950301-33f30560-4958-4dfa-944a-23fece9b547c.png">

[2022-11-04 10:36] ywanbing commented on #128
![image](https://user-images.githubusercontent.com/30226135/199952603-9a8c06a3-fa82-40e2-bc31-75bfda55931e.png)
就像是在检查指定文件，没有读取其他文件的内容，导致的这种错误

[2022-11-04 10:44] ywanbing commented on #128
![image](https://user-images.githubusercontent.com/30226135/199953988-919e0b1e-2956-44af-a3b8-9660bdf09959.png)

我测试了一下你说的情况，在目录下运行它不会出现问题；但是指定文件运行，就会出现和我日志报错的情况。

[2022-11-07 03:29] xxpxxxxp commented on #128
Hi @ywanbing , golangci-lint 不支持跑单个文件，只能针对目录跑。
看log里的错误，可以先看看 `go build` 能不能顺利通过，error看起来是招不到某个package， build更新一下go.mod应该就可以了

[2022-11-07 03:43] ywanbing commented on #128
go build 可以通过，是否可以检查一下，它（插件）使用了单个文件检查？

[2022-11-08 10:41] xxpxxxxp commented on #128
不会的，plugin只会针对某个folder跑
试试这样跑 `cd autogroupserver/src/world && golangci-lint.exe run -c ../../../.golangci.yml .`

[2022-11-08 11:03] ywanbing commented on #128
![image](https://user-images.githubusercontent.com/30226135/200548100-eb80b5a9-4a29-4854-a6b3-1969f36f55fc.png)
这样跑没有问题

[2022-11-10 02:11] xxpxxxxp commented on #128
在 `autogroupserver/src/world` 这个目录下试试，就是上面log里显示出错的目录

[2022-11-18 11:32] ptxmac opened #129 "Wrong arch detected on Macbook M1"
Even though I'm running the arm version of intellij and have installed the arm version of golangci-lint this plugin tries to set the build-tags to amd64:

[code]

Running `arch` in intellij's terminal returns `arm64`.

And my own settings for build-tags is set to arm
![image](https://user-images.githubusercontent.com/56919/202696006-28e14233-b20f-438f-8792-4ebe734ad0bd.png)

It looks like this cod

[2022-11-18 11:33] #129 closed

[2022-11-18 15:11] xxpxxxxp commented on #129
sorry don't get what happened, hope your issue resolved, and do feel free to reopen if something go wrong.

[2022-11-18 15:42] ptxmac commented on #129
You can see my mistake in the history of the issue 😄

[2022-11-22 08:03] ywanbing commented on #128
我发现了命令
![image](https://user-images.githubusercontent.com/30226135/203258107-93de80c4-ae60-471c-a897-6ca7755ce3b7.png)
我复制下来跑，是正确的； 但是在goland里面却是报错。

[2022-11-24 16:25] AndresXLP commented on #106
there is no support for WSL yet right?

[2022-11-25 02:29] xxpxxxxp commented on #106
@AndresXLP I've made it work, going to release soon

[2022-11-27 16:30] xxpxxxxp commented on #106
WLS is supported in the new version, please try out

[2022-11-28 14:46] AndresXLP commented on #106
is the new version available?

![image](https://user-images.githubusercontent.com/92891655/204306192-6e3e990d-0957-4540-9873-18ee1849fc8d.png)

[2022-11-28 15:04] xxpxxxxp commented on #106
@AndresXLP sorry the new version still pending Jetbrains's approval, expect to available tmr or at most 2 days after.

[2022-11-28 16:38] xxpxxxxp commented on #106
Hi all, as WSL is officially supported within plugin, I'm closing this ticket now. Feel free to open other topics about usage issues.

[2022-11-28 16:38] #106 closed

[2022-11-28 16:39] AndresXLP commented on #106
![image](https://user-images.githubusercontent.com/92891655/204332416-bfb126e6-bd0d-4a72-8007-9082e4a0c67c.png)

You're the best

[2022-11-29 03:49] zync-mzy opened #130 "如何设置Go Linter使用的PATH环境变量？"
# 背景
macOS升级到Ventura版本之后，系统自带的`/usr/bin/diff`输出改变了，导致`goimports`会报错，进而导致Go Linter执行失败。
有一个解决方法是`brew install diffutils`安装另一个diff，路径是`/opt/homebrew/bin/diff`，但是从Go Linter的执行日志（如下）来看，`/opt/homebrew/bin`并不在PATH里面，导致无法使用新安装的diff。
[code]

# 问题
1. Go Linter的PATH是从哪取的？我的系统没有任何一个PATH是日志中这样的
2. 我如何修改Go Linter的PATH？

[2022-11-29 04:20] xxpxxxxp commented on #130
Hi @zync-mzy , 插件使用的PATH包含两部分：

1. IDE里设置的$GOROOT/bin, GOROOT就是这里设置的，这是为了保证golangci-lint执行中使用的go一定是跟IDE一样的
<img width="974" alt="image" src="https://user-images.githubusercontent.com/1585918/204437334-80d0fe76-c607-4e9c-8923-1f7844376863.png">

2. System GOPATH，也就是后面这段 `/usr/bin:/bin:/usr/sbin:/sbin` ，据我所知Goland会起一个独立的python进程尝试获取.bashrc/.zshrc等配置文件里设置的PATH。也就是这部分导致了你diff的问题

解决方法可能有：

1. 在你的.bash

[2022-11-29 04:42] zync-mzy commented on #130
@xxpxxxxp 感谢你及时的回复和解决建议！

但是我在自己的终端里面，`echo $PATH`展示的内容也并不是`/usr/bin:/bin:/usr/sbin:/sbin`，包括我在Goland自带的终端里打印出来的PATH也不是，所以我就非常困惑，不知道该怎么设置了

这个只是把`/opt/homebrew/Cellar/diffutils/3.8`的二进制软链到`/opt/homebrew/bin/`下面，并无法解决我的问题

---

不知道你是否还有别的建议？附上我在独立终端和Goland终端的输出
[code]

[2022-11-29 06:54] xxpxxxxp commented on #130
有个简单粗暴的方法，从iterm2里启动Goland，这样它就会继承iterm2里的PATH
https://medium.com/@shaunthomas999/how-to-launch-intellij-idea-from-command-line-ba10443cc1a9#:~:text=Go%20to%20%27Tools%27%20menu%20in,I%20choose%20idea%20as%20command.

[2022-11-29 07:03] zync-mzy commented on #130
这个方法对我来说非常🉑️
感谢！

[2022-11-29 07:03] #130 closed

[2022-11-29 15:56] xxpxxxxp commented on #128
之前log的 `Debug command` 确实有问题，已经更新添加了 ""
这个 Debug command 就是 plugin 跑的方式，如果 Goland 里总是不行，但 Debug command 拷出来就能跑成功，是不是cmd里有一些特殊的环境变量？比如 GOPRIVATE 这种

[2022-11-29 17:39] Rigellute commented on #106
Great, thank you @xxpxxxxp!

[2022-11-29 21:56] konradekk opened #131 "NPE just after closing configuration settings"
Got following error for 1.6.2 on IntelliJ IDEA 2022.2.4 (IU-222.4459.24):

[code]

[2022-11-30 01:33] xxpxxxxp commented on #131
Hi @konradekk , could you share OS too? Windows, Linux (which distro?), Mac (M1 or Intel-based, Big Sur, Monterey, Ventura?), could help me more easily locate the problem, thanks.

[2022-11-30 07:55] ywanbing commented on #128
我通过以下操作解决了我的问题

[code]

[2022-11-30 08:17] #128 closed